{% extends 'cm_main/base.html' %}
{% load i18n cm_tags static crispy_forms_tags%}
{% block title %}{% title _("Classified Ad Detail") %}{% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'galleries/css/galleries.css' %}">
<link rel="stylesheet" href="{% static 'classified_ads/css/classified_ads.css' %}">
<script src="{% static 'classified_ads/js/classified_ads.js' %}"></script>
{% endblock%}
{% block content %}
{%with ad=object%}
<div class="container">
  <div class="panel">
    <div class="panel-heading is-flex">
			{%icon "classified-ad" "is-medium mr-1"%}
			<span class="is-flex-grow-1">{{ ad.title }}</span>
			<span>
        {% blocktranslate with owner=ad.owner date_created=ad.date_created|date:"SHORT_DATETIME_FORMAT" trimmed %}
        Added by {{ owner }} on {{ date_created }}
        {% endblocktranslate %}
      </span>
		</div>
    <div class="panel-block is-flex">
			<div class="fixed-grid has-3-cols is-flex-grow-1">
				<div class="grid">
					<div class="cell"><strong>{% trans "Category" %}:</strong> {{ ad.display_category }}</div>
					<div class="cell"><strong>{% trans "Subcategory" %}:</strong> {{ ad.display_subcategory }}</div>
					<div class="cell"><strong>{% trans "State" %}:</strong> {{ ad.display_item_status|ljust:20 }}</div>
				</div>
			</div>
    </div>
    <div class="panel-block">
			<div class="content">
      {{ ad.description|safe }}
			</div>
    </div>
		<div class="panel-block is-flex">
			<div class="fixed-grid has-3-cols is-flex-grow-1">
				<div class="grid">
					<div class="cell"><strong>{% trans "Price" %}:</strong> {{ ad.price }}</div>
					<div class="cell"><strong>{% trans "Location" %}:</strong> {{ ad.location }}</div>
					<div class="cell"><strong>{% trans "Shipping" %}:</strong> {{ ad.display_shipping_method }}</div>
				</div>
			</div>
		</div>
		{%if user == ad.owner%}
		{%include "classified_ads/gallery.html" with edit_gallery=True ad=ad%}
		{%else%}
		{%include "classified_ads/gallery.html" with edit_gallery=False ad=ad%}
		{%endif%}
		<div class="panel-block">
			<div class="buttons is-centered mx-auto">
			{% if user == ad.owner %}
				<a class="button" href="{% url 'classified_ads:update' ad.id %}">{%icon "edit" "mr-1" %}{% trans "Update Ad" %}</a>
				{%url "classified_ads:delete" ad.pk as delete_ads_url%}
				{%include "cm_main/common/confirm-delete-modal-htmx.html#show_delete_button" with button_text=_("Delete Ad") button_class='is-warning' delete_url=delete_ads_url %}
			{% else %}
		{% autoescape off %}
		{%trans "Send a message to the owner of this ad" as button_text%}
				<button type="button"
					class="button is-fullwidth"
					title="{{button_text}}"
					hx-target="#modal"
					hx-get="{% url 'classified_ads:send_message' ad.pk%}"
				>
					{%icon "send-message" %}
					<span class="ml-2">{{button_text}}</span>
				</button>
			{% endautoescape %}
			{% endif %}
			</div>
		</div>
	</div>
</div>

{%endwith%}
{% endblock content %}

