{% extends 'cm_main/base.html' %}
{% load i18n cm_tags static crispy_forms_tags%}
{% block title %}{% title _("Classified Ad Detail") %}{% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'galleries/css/galleries.css' %}">
<script src="{% static 'classified_ads/js/classified_ads.js' %}"></script>
<script src="{% static 'cm_main/js/cm_modal.js' %}"></script>
<script>
function do_nothing() {}
</script>
{% endblock%}
{% block content %}
{%with ad=object%}
<div class="container">
  <div class="panel">
    <div class="panel-heading is-flex">
			{%icon "classified-ad" "is-medium mr-1"%}
			<span class="is-flex-grow-1">{{ ad.title }}</span>
			<span>
        {% blocktranslate with owner=ad.owner date_created=ad.date_created|date:"SHORT_DATETIME_FORMAT" trimmed %}
        Added by {{ owner }} on {{ date_created }}
        {% endblocktranslate %}
      </span>
		</div>
    <div class="panel-block is-flex">
			<div class="fixed-grid has-3-cols is-flex-grow-1">
				<div class="grid">
					<div class="cell"><strong>{% trans "Category" %}:</strong> {{ ad.display_category }}</div>
					<div class="cell"><strong>{% trans "Subcategory" %}:</strong> {{ ad.display_subcategory }}</div>
					<div class="cell"><strong>{% trans "State" %}:</strong> {{ ad.display_item_status|ljust:20 }}</div>
				</div>
			</div>
    </div>
    <div class="panel-block">
      {{ ad.description|safe }}
    </div>
		<div class="panel-block is-flex">
			<div class="fixed-grid has-3-cols is-flex-grow-1">
				<div class="grid">
					<div class="cell"><strong>{% trans "Price" %}:</strong> {{ ad.price }}</div>
					<div class="cell"><strong>{% trans "Location" %}:</strong> {{ ad.location }}</div>
					<div class="cell"><strong>{% trans "Shipping" %}:</strong> {{ ad.display_shipping_method }}</div>
				</div>
			</div>
		</div>
		{%include "classified_ads/gallery.html" with edit_gallery=false %}
		<div class="panel-block">
			<div class="buttons is-centered mx-auto">
			{% if user == ad.owner %}
				<a class="button" href="{% url 'classified_ads:update' ad.id %}">{%icon "edit" "mr-1" %}{% trans "Update Ad" %}</a>
				{% autoescape off %}
				{%blocktranslate asvar delete_msg with ad_name=ad.title|force_escape trimmed %}
					Are you sure you want to delete the classified ads "{{ad_name}}"
				{%endblocktranslate%}
				{% trans "Delete Ad" as button_text %}
				{%url 'classified_ads:delete' ad.pk as delete_url%}
				{%trans 'Classified ads deletion' as delete_title%}
				{%include "cm_main/common/confirm-delete-modal.html" with button_text=button_text button_class="is-warning" ays_title=delete_title ays_msg=delete_msg|force_escape action_url=delete_url expected_value=ad.title|escape %}
				{% endautoescape %}
		{% else %}
		{% autoescape off %}
		{%trans "Send a message to the owner of this ad" as button_text%}
				<button type="button" id="js-modal-send-message"
					class="button is-fullwidth js-modal-trigger"
					title="{{button_text}}"
					data-target="send-message-modal"
					data-action="{% url 'classified_ads:send_message' ad.pk%}" 
					data-title="{{button_text}}"
					data-form='{{message_form|crispy}}'
					data-warning-msg="{{ad.title}}"
					data-kind="send"
					data-button-icon="send-variant-outline"
					data-init-function="do_nothing"
				>
					{%icon "send-message" %}
					<span class="ml-2">{{button_text}}</span>
				</button>
			{% endautoescape %}
			{% endif %}
			</div>
		</div>
	</div>
</div>

{%if ad.owner == user %}
	{%include "cm_main/common/modal_form.html" with modal_id="delete-item-modal" %}
{%endif%}
{%include "cm_main/common/modal_form.html" with modal_id="send-message-modal" %}

{%endwith%}
{% endblock content %}

