{% extends 'cm_main/base.html' %}
{%load i18n crispy_forms_tags cm_tags static%}
{% block title %}{% title _("Create Classified Ad") %}{% endblock %}
{%block header %}
<link rel="stylesheet" href="{% static 'galleries/css/galleries.min.css' %}">
<link rel="stylesheet" href="{% static 'classified_ads/css/classified_ads.min.css' %}">
{%include "cm_main/common/include-summernote.html" %}
<script src="{% static 'galleries/js/galleries.min.js' %}"></script>
{% endblock %}
{% block content %}
{% with ad=form.instance %}
<div class="container mx-auto">
	<h1 class="title has-text-centered">
		{%if ad.pk%}
			{% title _("Edit Classified Ad") %}
		{%else%}
			{% title _("Create Classified Ad") %}
		{%endif%}
	</h1>
	<form method="post" class="mx-auto">
		{% csrf_token %}
		{% crispy form %}
		<div class="buttons is-centered">
		{%if ad.pk%}
			<button class="button is-primary" type="submit" {%if user != ad.owner%}disabled="true"{%endif%}>
				{%icon "update" %} <span class="ml-2">{% trans "Update Ad" %}</span>
			</button>
			{%if ad.owner == user%}
				{%url "classified_ads:delete" ad.pk as delete_ads_url%}
				{%include "cm_main/common/confirm-delete-modal.html#delete_button" with button_text=_("Delete Ad") button_class='is-warning' delete_url=delete_ads_url %}
			{%endif%}
		{%else%}
			<button class="button is-primary" type="submit">
				{% trans "Create Ad" %}
			</button>
		{%endif%}
		</div>
	</form>

	{%include "classified_ads/gallery.html" with edit_gallery=True ad=ad %}
</div>
{% endwith %}
{% endblock %}

{% partialdef subcategories %}
{%for subcategory in subcategories %}
<option value="{{ subcategory.0 }}">{{ subcategory.1 }}</option>
{%endfor%}
{% endpartialdef %}
