{% extends "cm_main/base.html" %}
{% load i18n crispy_forms_tags cm_tags %}
{% block title %}{% title _("Add Photo") %} {% endblock %}
{% block header %}{%include "cm_main/include-bulma-calendar.html" %}{%endblock%}
{% block content %}
<div class="container mt-5">
	<h1 class="title">{% title _("Add Photo") %}</h1>
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form | crispy}}
		<button type="submit" class="button is-primary" name="create">{%translate "Create" %}</button>
		<button type="submit" class="button is-link" name="create-and-add">{%translate "Create and add another one" %}</button>
	</form>
</div>
{% endblock %}