{% extends "cm_main/base.html" %}
{% load i18n galleries_tags static cm_tags %}
{% block title %}{% title _("Show Gallery") %} {% endblock %}
{% block content %}
<div class="container px-3">
	<div class="level">
		<div class="level-left">
			<div class="container">
				<figure class="image gallery-cover is-pulled-left mr-3 mb-3 is-flex is-align-items-center is-justify-content-center">
					<img src="{{gallery.cover_url}}">
				</figure>
				<span class="title is-4">{{gallery.name}}</span>
				{% include "galleries/photo_counter.html" %}
				<p>{{ gallery.description|safe }}</p>
			</div>
		</div>
		{% if gallery.children.count > 0 %}
		<div class="level-item">
			<div class="container">
				<p class="content has-text-centered mr-3">{% translate "Children galleries" %}</p>
				<div class="grid">
				{% for subgal in gallery.children.all %}
					<a class="cell mr-2" href="{% url 'galleries:detail' subgal.id %}">
						<figure class="image sub-gallery-cover mx-auto">
							<img src="{{subgal.cover_url}}">
						</figure>
						<p class="has-text-centered">{{subgal.name}}</p>
					</a>
				{%endfor%}
				</div>
			</div>
		</div>
		{% endif %}
		<div class="level-right">
			<p class="buttons has-addons mt-0">
				{% if gallery.parent %}
				<a class="button" href="{% url 'galleries:detail' gallery.parent.id %}" 
					title="{% blocktranslate with gname=gallery.parent.name%}Back to {{gname}}{%endblocktranslate %}">
					{%icon "back" %}
				</a>
				{%else%}
				<a class="button" href="{% url 'galleries:galleries' %}" 
					title="{%trans 'Back to galleries list' %}">
					{%icon "back" %}
				</a>
				{%endif%}
				<a class="button" href="{% url 'galleries:add_photo' gallery.id %}"
					title="{% translate 'Add Photo' %}">
					{%icon "new-photo" %}
				</a>
				<a class="button" href="{% url 'galleries:create_sub' gallery.id %}"
					title="{% translate 'Create Sub Gallery' %}">
					{%icon "new-gallery" %}
				</a>
				<a class="button" href="{% url 'galleries:edit' gallery.id %}"
					title="{% trans 'Edit Gallery' %}">
					{%icon "edit-gallery" %}
				</a>
				<button class="button js-modal-trigger" data-target="delete-gallery-modal" title="{% trans 'Delete gallery' %}">
					{%icon "delete" %}
				</button>
			</p>
		</div>
	</div>
</div>

<div class="container mt-5">
	{% include_photos gallery page_num page_size %}
</div>
{% include "galleries/gallery_confirm_delete.html" %}
{% endblock %}