{% extends "cm_main/base.html" %}
{% load i18n galleries_tags static cm_tags %}
{% block title %}{% title _("Show Gallery") %} {% endblock %}
{%block header %}
{%url 'galleries:gallery_photo_url' gallery.id '1234567890' as gallery_photo_url %}
<style>
	#fullscreen-overlay {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--bulma-black);
		z-index: 1000;
		justify-content: center;
		align-items: center;
	}
	
	.image-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: transform 0.3s ease-out;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.image-container {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
	}

	.image-container img {
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
			margin: auto;
	}	

	#close-fullscreen {
		position: absolute;
		top: 20px;
		right: 20px;
		color: var(--bulma-link-invert);
		background-color: var(--bulma-link);
		border: none;
		padding: 10px 20px;
		cursor: pointer;
		z-index: 1001;
	}

	.navigation-arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background-color: var(--bulma-dark);
		color: var(--bulma-dark-invert);
		border: none;
		font-size: 2rem;
		padding: 10px 15px;
		cursor: pointer;
		z-index: 1001;
		transition: background 0.3s;
	}

	.navigation-arrow:hover {
		background-color: var(--bulma-light);
		color: var(--bulma-light-invert);
	}
	
	#prev-image {
		left: 20px;
	}
	
	#next-image {
		right: 20px;
	}
</style>
<script>
	let currentImage = null;
	let fullscreenContainer = null;
	// Variables to store touch start and end positions for swiping
	let touchStartX = 0;
	let touchEndX = 0;
	const minSwipeDistance = 50; // Minimum distance to detect a swipe
	const screenWidth = window.innerWidth;

	// Function to open image in full screen
	function openFullscreen(imageElement) {
		currentImage = imageElement;
		// set the src of the current, next and previous images
		let currentSrc = imageElement.data('fullscreen');
		let nextSrc = imageElement.data('next');
		let prevSrc = imageElement.data('prev');
		let currentIdx = imageElement.data('idx');

		$('.image-wrapper.prev img').attr('src', prevSrc);
		$('.image-wrapper.current img').attr('src', currentSrc);
		$('.image-wrapper.next img').attr('src', nextSrc);
		// Update the current image IDX
		fullscreenContainer.data('current-image-idx', currentIdx)
		fullscreenContainer  // display the overlay
			.css('display', 'flex')
			.hide()
			.fadeIn(300);
	}

	function getPhotoUrl(photoidx) {
		return '{{ gallery_photo_url }}'.replace('1234567890', photoidx);
	}

	// Swipe left -> next image
	function navigateToNext() {
		const newCurrentImageIdx = fullscreenContainer.data('current-image-idx') + 1;
		const gallery_photos_count = {{ gallery.photo_set.count }}
		if (newCurrentImageIdx > gallery_photos_count) {
			return  // no next image
		}
		// Update the current image ID and preload adjacent images
		fullscreenContainer.data('current-image-idx', newCurrentImageIdx);
		// swipe left
		$('.image-wrapper.current').css('transform', 'translateX(-100%)');
		$('.image-wrapper.next').css('transform', 'translateX(0)');
		// the prev is removed and replaced by the current
		$('.image-wrapper.prev').remove();
		$('.image-wrapper.current').removeClass('current').addClass('prev');
		// the next becomes the current
		$('.image-wrapper.next').removeClass('next').addClass('current');
		// the next must be created: preload the new next image and create the new next wrapper
		if (newCurrentImageIdx >= gallery_photos_count) {
			return  // no next image
		}
		$.ajax({
			url: getPhotoUrl(newCurrentImageIdx + 1),
			method: 'GET',
			success: function(response) {
				const newNextWrapper = $('<div class="image-wrapper next">')
					.css('transform', 'translateX(100%)')
					.append(`<div class="image-container"><img src="${response.image_url}"></div>`);
				newNextWrapper.find('.image-container').click(function(e) {
					if (e.target === e.currentTarget) {
						fullscreenContainer.fadeOut(300);
					}
				});
				fullscreenContainer.append(newNextWrapper);
			}
		});
	}

	// Swipe right -> previous image
	function navigateToPrevious() {
		const newCurrentImageIdx = fullscreenContainer.data('current-image-idx') - 1;
		if (newCurrentImageIdx < 1) {
			return  // no previous image
		}
		// Update the current image ID
		fullscreenContainer.data('current-image-idx', newCurrentImageIdx);
		// swipe right
		$('.image-wrapper.current').css('transform', 'translateX(100%)');
		$('.image-wrapper.prev').css('transform', 'translateX(0)');
		// the next is removed and replaced by the current
		$('.image-wrapper.next').remove();
		$('.image-wrapper.current').removeClass('current').addClass('next');
		// the prev becomes the current
		$('.image-wrapper.prev').removeClass('prev').addClass('current');
		// the prev must be created: preload the new prev image and create the new prev wrapper
		if (newCurrentImageIdx <= 1) {
			return  // no previous image
		}
		$.ajax({
			url: getPhotoUrl(newCurrentImageIdx - 1),
			method: 'GET',
			success: function(response) {
				const newPrevWrapper = $('<div class="image-wrapper prev">')
					.css('transform', 'translateX(-100%)')
					.append(`<div class="image-container"><img src="${response.image_url}"></div>`);
				newPrevWrapper.find('.image-container').click(function(e) {
					if (e.target === e.currentTarget) {
						fullscreenContainer.fadeOut(300);
					}
				});
				fullscreenContainer.append(newPrevWrapper);
			}
		});
	}

	$(document).ready(function() {
		fullscreenContainer = $('#fullscreen-overlay'); // initialize Full-screen image container

		// Touch event manager functions
		fullscreenContainer.on('touchstart', function(e) {
			touchStartX = e.originalEvent.touches[0].clientX;
			// Disable transition during swipe
			$('.image-wrapper').css('transition', 'none');
		});

		fullscreenContainer.on('touchmove', function(e) {
			// Prevent page scrolling by default
			e.preventDefault();
			// Calculate displacement in real time
			const currentX = e.originalEvent.touches[0].clientX;
			const deltaX = currentX - touchStartX;
			// Move current image
			$('.image-wrapper.current').css('transform', `translateX(${deltaX}px)`);
			// Move next or previous image
			if (deltaX < 0) {
					// Swipe left, prepare next image
					$('.image-wrapper.next')
							.css('transform', `translateX(calc(100% + ${deltaX}px))`);
			} else {
					// Swipe right, prepare previous image
					$('.image-wrapper.prev')
							.css('transform', `translateX(calc(-100% + ${deltaX}px))`);
			}
		});

		fullscreenContainer.on('touchend', function(e) {
			touchEndX = e.originalEvent.changedTouches[0].clientX;
			const deltaX = touchEndX - touchStartX;
			// Reactivate transition for end animation
			$('.image-wrapper').css('transition', 'transform 0.3s ease-out');			
			if (Math.abs(deltaX) > minSwipeDistance) {
				if (deltaX > 0) {
					navigateToPrevious();
				} else {
					navigateToNext();
				}
			} else {
				// Return to initial position if swipe not long enough
				$('.image-wrapper.current').css('transform', 'translateX(0)');
				$('.image-wrapper.next').css('transform', 'translateX(100%)');
				$('.image-wrapper.prev').css('transform', 'translateX(-100%)');
			}
		});

		// Open image in full screen
		$('.gallery-image').click(function() {
			openFullscreen($(this));
		});

		// Navigate to previous image
		$('#prev-image').click(function() {
			navigateToPrevious();
		});

		// Navigate to next image
		$('#next-image').click(function() {
			navigateToNext();
		});

		// Close full screen
		$('#close-fullscreen').click(function() {
			fullscreenContainer.fadeOut(300);
		});

		// Close full screen if clicked outside image
		fullscreenContainer.find('div[class="image-container"]').click(function(e) {
			if (e.target === e.currentTarget) {
				fullscreenContainer.fadeOut(300);
			}
		});

		// Open image in full screen if URL parameter is present
		const urlParams = new URLSearchParams(window.location.search);
		if (urlParams.get('openFullscreen') === 'true') {
			openFullscreen($(`.gallery-image[data-fullscreen="${urlParams.get('firstImage')}"]`));
		}
	});
</script>
{% endblock header %}
{% block content %}
<div class="container px-3">
	<div class="level">
		<div class="level-left">
			<div class="container">
				<figure class="image gallery-cover is-pulled-left mr-3 mb-3 is-flex is-align-items-center is-justify-content-center">
					<img src="{{gallery.cover_url}}">
				</figure>
				<span class="title is-4">{{gallery.name}}</span>
				{% include "galleries/photo_counter.html" %}
				<p>{{ gallery.description|safe }}</p>
			</div>
		</div>
		{% if gallery.children.count > 0 %}
		<div class="level-item">
			<div class="container">
				<p class="content has-text-centered mr-3">{% translate "Children galleries" %}</p>
				<div class="grid">
				{% for subgal in gallery.children.all %}
					<a class="cell mr-2" href="{% url 'galleries:detail' subgal.id %}">
						<figure class="image sub-gallery-cover mx-auto">
							<img src="{{subgal.cover_url}}">
						</figure>
						<p class="has-text-centered">{{subgal.name}}</p>
					</a>
				{%endfor%}
				</div>
			</div>
		</div>
		{% endif %}
		<div class="level-right">
			<p class="buttons has-addons mt-0">
				{% if gallery.parent %}
				<a class="button" href="{% url 'galleries:detail' gallery.parent.id %}" 
					title="{% blocktranslate with gname=gallery.parent.name%}Back to {{gname}}{%endblocktranslate %}">
					{%icon "back" %}
				</a>
				{%else%}
				<a class="button" href="{% url 'galleries:galleries' %}" 
					title="{%trans 'Back to galleries list' %}">
					{%icon "back" %}
				</a>
				{%endif%}
				<a class="button" href="{% url 'galleries:add_photo' gallery.id %}"
					title="{% translate 'Add Photo' %}">
					{%icon "new-photo" %}
				</a>
				<a class="button" href="{% url 'galleries:create_sub' gallery.id %}"
					title="{% translate 'Create Sub Gallery' %}">
					{%icon "new-gallery" %}
				</a>
				<a class="button" href="{% url 'galleries:edit' gallery.id %}"
					title="{% trans 'Edit Gallery' %}">
					{%icon "edit-gallery" %}
				</a>
				<button class="button js-modal-trigger" data-target="delete-gallery-modal" title="{% trans 'Delete gallery' %}">
					{%icon "delete" %}
				</button>
			</p>
		</div>
	</div>
</div>

<div class="container mt-5">
	{% include_photos gallery page_num page_size %}
</div>
{% include "galleries/gallery_confirm_delete.html" %}
{% endblock %}