{% extends "cm_main/base.html" %}
{% load i18n cm_tags static %}
{% block title %}{% title _("Photo") %} {% endblock %}
{%block header %}
<link rel="stylesheet" href="{% static 'galleries/css/galleries.css' %}"/>
<script src="{% static 'cm_main/js/cm_modal.js' %}"></script>
<script>
	function get_photo_detail_url(pk) {
		const url = "{% url 'galleries:photo' 123456789 %}".replace('123456789', pk);
		return url;
	}
</script>
<script src="{% static 'galleries/js/galleries.js' %}"></script>
{% endblock %}
{% block content %}
{%with photo=object%}
<div class="container px-2">
	<div class="box">
		<div class="level">
			<div class="level-left">
				<div class="container has-text-centered">
					<p class="title is-4">{{photo.name}}</p>
					<p class="subtitle is-6">
						({% blocktranslate with gname=photo.gallery.name%}Gallery {{gname}}{% endblocktranslate %})
					</p>
				</div>
			</div>
			<div class="level-right">
				<p class="buttons has-addons">
					<a class="button" href="{% url 'galleries:detail' photo.gallery.id %}"
						title="{% blocktranslate with gname=photo.gallery.name%}Back to {{gname}}{%endblocktranslate %}">
						{%icon "back" %}
					</a>
				{% if not photo.uploaded_by_id or photo.uploaded_by_id == request.user.id or request.user.is_superuser %}
					<a class="button" href="{% url 'galleries:edit_photo' photo.id %}"
						title="{% trans 'Edit Photo' %}">
						{%icon "edit-photo" %}
					</a>
					{% url 'galleries:delete_photo' photo.id as delete_url %}
					{%include "cm_main/common/confirm-delete-modal.html#delete_button" with button_text='' delete_url=delete_url %}
				{% endif %}
				</p>
			</div>
		</div>
	</div>
	<div class="container">
		<figure class="photo">
			<img src="{{photo.image.url}}"
				class="gallery-image"
				data-fullscreen="{{photo.image.url}}"
				data-pk="{{photo.id}}"
				data-swipe-url="{%url 'galleries:get_fullscreen_photo' photo.id %}"
			>
		</figure>
		<div class="rich-text">{% autoescape off %}{{photo.description}}{% endautoescape %}</div>
	</div>
</div>
{%include "galleries/photo_fullscreen_htmx.html"%}
{%endwith%}
{% endblock %}
