{% load i18n cm_tags %}
<div class="container px-2">
	<div class="level is-mobile px-3 py-2">
		<div class="level-left">
			{% paginate page request %}
		</div>
		<div class="level-right">
			<button id="slideshow-toggle" class="button is-ghost has-text-primary is-large"
				title="{% trans 'Start slideshow' %}"
				data-delay="{{settings.SLIDESHOW_DELAY}}"
			>
				<span class="icon is-large">
					<i class="mdi mdi-play mdi-48px" id="slideshow-icon"></i>
				</span>
			</button>
		</div>
	</div>
	<div class="grid image-gallery">
		{% for photo in page.object_list %}
		<div class="cell has-text-centered">
			<figure class="image thumbnail mx-auto">
				<img src="{{photo.thumbnail_url}}" 
					class="gallery-image mx-auto"
					data-fullscreen="{{photo.image_url}}"
					data-pk="{{photo.id}}"
					data-swipe-url="{%url 'galleries:get_fullscreen_photo' photo.id %}"
					data-is-video="{{photo.is_video|yesno:'true,false'}}"
				>
				{% if photo.is_video %}
				<span class="video-play-overlay" aria-label="{% trans 'Video' %}">▶</span>
				{% endif %}
			</figure>
			<p>{{photo.name}}</p>
		</div>
		{% endfor %}
	</div>
</div>

{%include "galleries/photo_fullscreen.html"%}
{% if page.num_pages > 1 %}{% paginate page request %}{% endif %}
