{%load i18n cm_tags%}
<div id="fullscreen-overlay">
	<button id="close-fullscreen">{%trans "Close"%}</button>
	<button id="prev-image" class="navigation-arrow">❮</button>
	<button id="next-image" class="navigation-arrow">❯</button>
	<div class="image-wrapper prev" style="transform: translateX(-100%);">
		<div class="image-container">
			<img src="">
		</div>
	</div>
	<div class="image-wrapper current">
		<div class="image-container">
			<img src="">
		</div>
	</div>
	<div class="image-wrapper next" style="transform: translateX(100%);">
		<div class="image-container">
			<img src="">
		</div>
	</div>
</div>
