{% load i18n cm_tags %}
<div class="container px-2">
	{%paginate page%}
	<div class="grid image-gallery">
		{% for photo in page.object_list %}
		<div class="cell has-text-centered">
			<figure class="image thumbnail mx-auto">
				<img src="{{photo.thumbnail.url}}" 
					class="gallery-image"
					{%if photo.next_url%}data-next="{{photo.next_url}}"{%endif%}
					data-fullscreen="{{photo.image.url}}"
					{%if photo.previous_url%}data-prev="{{photo.previous_url}}"{%endif%}
					data-idx="{%get_absolute_idx_from_page page forloop.counter%}"
				>
			</figure>
			<p>{{photo.name}}</p>
		</div>
		{% endfor %}
	</div>
</div>
<div id="fullscreen-overlay">
	<button id="close-fullscreen">{%trans "Close"%}</button>
	<button id="prev-image" class="navigation-arrow">❮</button>
	<button id="next-image" class="navigation-arrow">❯</button>
	<div class="image-wrapper prev" style="transform: translateX(-100%);">
		<div class="image-container">
				<img src="">
		</div>
	</div>
	<div class="image-wrapper current">
		<div class="image-container">
				<img src="">
		</div>
	</div>
	<div class="image-wrapper next" style="transform: translateX(100%);">
		<div class="image-container">
				<img src="">
		</div>
	</div>
</div>
