{%load i18n cm_tags%}
<div id="fullscreen-overlay">
	<button class="button" id="close-fullscreen">{%trans "Close"%}</button>
	<button id="prev-image" class="navigation-arrow">❮</button>
	<button id="next-image" class="navigation-arrow">❯</button>
	<div id="swipe-container" class="swipe-container">
		{%partialdef image inline %}
		{%if photo_detail_url%}
		<a class="button" id="detail-fullscreen" href="{{photo_detail_url}}">{%trans "Detail"%}</a>
		{%endif%}
		<div id="image-container" class="swipe-card"
			hx-get="{{swipe_url}}"
			hx-target="#swipe-container"
			data-pk="{{pk}}"
			data-is-video="{{is_video}}"
		>
			{% if is_video %}
			<video controls playsinline autoplay>
				<source src="{{fullscreen_url}}">
			</video>
			{% else %}
			<img src="{{fullscreen_url}}">
			{% endif %}
		</div>
		{%endpartialdef%}
	</div>
</div>