{% extends "cm_main/base.html" %}
{% load i18n galleries_tags static %}
{% block title %}{%translate "Cousins Matter - Show Gallery" %} {% endblock %}
{% block content %}
<div class="box">
	<article class="media">
		{% url 'galleries:display' gallery.id as gallery_url %}
		<figure class="media-left">
			<a class="image is-128x128" href="{{gallery_url}}">
				<img src="{% if gallery.cover %}{{gallery.cover.thumbnail.url}}{% else %}{% static 'cm_main/default.jpg' %}{% endif %}">
			</a>
		</figure>
		<div class="media-content">
			<a class="content has-text-primary-dark" href="{{gallery_url}}">
				<p>
					<strong class="title">{{gallery.name}}</strong>
					<br/>
					{{ gallery.description }}
					<br/>
					<small>{{ gallery.photos.count }} {% translate photos %}</small>
				</p>
			</a>
			{% if gallery.children.count > 0 %}
			<p class="container has-text-centered">{% translate "Children galleries" %}</p>
			{# <div class="container is-flex is-align-items-center"> #}
			<div class="level">
				{% include_galleries gallery.children.all %}
				</div>
			{% endif %}
		</div>
		<div class="media-right">
			<div class="level">
				<a class="button is-link" href="{% url 'galleries:add_photo' gallery.id %}">{% translate "Add<br/>Photos" %}</a>
				{% if gallery.parent %}
				{% with parent=gallery.parent %}
				<p class="content">
					<label class="has-text-centered">{% translate "Parent<br/>gallery" %}</label>
					{% if parent.cover %}
					<a href="{% url 'galleries:display' parent.id %}">
						<figure class="image is-128x128">
							<img src="{{parent.cover.thumbnail.url}}">
							<figcaption class="has-text-centered">{{parent.name}}</figcaption>
						</figure>
					</a>
					{% else %}
					<a class="button is-link" href="{% url 'galleries:display' parent.id %}">
						{{parent.name}}
					</a>
					{% endif %}
				</p>
				{% endwith %}
				{% endif %}
			</div>
		</div>
	</article>
</div>

<div class="container mt-5">
	{% include_photos gallery %}
</div>
{% endblock %}