**/__pycache__
**/.venv
**/.dockerignore
**/.env
**/.git
**/.gitignore
LICENSE
*.md
media/
scripts/dev/
**/*.log
**/.gitattributes
**/*.rdb
**/.env.example
**/.github
**/docs
*.yaml
*.yml
**/.vscode
**/Dockerfile*

**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/compose*
**/node_modules
**/npm-debug.log
**/obj
**/.classpath
**/.project
**/.settings
**/.toolstarget
**/.vs
