django~=5.2
pillow~=11.2.1
django-crispy-forms~=2.4
crispy-bulma~=0.11.0
django-environ~=0.12.0
django-email-validation~=2.1.1
django-simple-captcha~=0.6.2
daphne~=4.1.2
supervisor~=4.2.5
channels~=4.2.2 
channels_redis~=4.2.1
django-cors-headers~=4.7.0
packaging~=24.2
django_ipware~=7.0.1
requests~=2.32.3
fpdf~=1.7.2
