django>=5.0.8
pillow>=10.4.0
django-crispy-forms>=2.3
crispy-bulma>=0.11.0
django-environ>=0.11.2
Django-Verify-Email>=2.0.3
django-simple-captcha>=0.6.0
daphne>=4.1.2
supervisor>=4.2.5
reportlab>=4.2.2
channels>=4.1.0 
channels_redis>=4.2.0
Babel>=2.15
django-cors-headers>=4.4.0
packaging>=24.0
