{% extends "cm_main/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="box">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="container">
                <legend class="title is-3">{% translate "Password resetting" %}</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="container mt-4">
                <button class="button is-primary" type="submit">{% translate "Send a reset link" %}</button>
            </div>
        </form>
        <div class="container is-small">
            {% translate "Password Not Forgotten?" %}
            <a class="is-2" href="{% url 'members:login' %}">{% translate "Sign in" %}</a>
        </div>
    </div>
{% endblock content %}
