{% extends "cm_main/base.html" %}
{% load i18n cm_tags %}
{% block title %}{% title _("Chat") %} {% endblock %}
{% block content %}
<div class="container">
	<h1 class="title">{% title _("Chat") %}</h1>
	<p class="content">{%trans 'Choose an existing room or create a new one.'%}</p>

	<nav class="panel">
		<p class="panel-heading">{%trans 'Rooms' %}</p>
		{% for room in rooms %}
		<a class="panel-block" href="{%url 'chat:room' room.slug %}">
			<span class="panel-icon">
				<i class="mdi mdi-24px mdi-chat-outline" aria-hidden="true"></i>
			</span>
			{{room.name}}
		</a>
		{%endfor%}
		<div class="panel-block">
			<p class="control has-icons-left">
				<input class="input" type="text" placeholder="{%trans 'Room name'%}" id="room-name-input">
				<span class="icon is-left">
					<i class="mdi mdi-24px mdi-chat-plus" aria-hidden="true"></i>
				</span>
			</p>
			<div class="control">
				<a class="button is-primary" id="room-name-submit">
					<span class="icon">
						<i class="mdi mdi-24px mdi-chat-plus-outline" aria-hidden="true"></i>
					</span>
					<span class="is-hidden-mobile">{%trans 'Create room' %}</span>
				</a>
			</div>
		</div>
	</nav>
</div>

<script>
$(document).ready(() => {
	$('#room-name-input').focus();

	$('#room-name-input').on('keyup', (e) => {
		if (e.keyCode === 13) {
			$('#room-name-submit').trigger('click');
  	}
	});

	$('#room-name-submit').on('click', (e) => {
	  var roomName = encodeURIComponent($('#room-name-input').val());
	  window.location.replace('{%url "chat:new_room"%}?name='+roomName);
	});
});
</script>
{% endblock %}
