{% extends "cm_main/base.html" %}
{% load i18n cm_tags static %}
{% block title %}{% title _("Chat") %} {% endblock %}
{% block content %}
<div class="container px-2">
	<h1 class="title is-centered">{% title _("Chat") %}</h1>
	<p class="content">{%trans 'Choose an existing room or create a new one.'%}</p>

	<div class="panel">
		<div class="panel-heading is-flex is-align-items-center is-justify-content-center">
			<span class="is-flex-grow-1 has-text-centered">{%trans 'Rooms' %}</span>
			<span class="field has-addons ml-auto">  {# ml-auto to push on the right#}
				<div class="control has-icons-left">
					<input class="input" type="text" placeholder="{%trans 'Room name'%}" id="room-name-input">
					{%icon 'new-chat-room' 'is-left'%}
				</div>
				<div class="control">
					{%trans 'Create room' as create_room%}
					<a class="button is-responsive" id="room-name-submit" title="{{create_room}}">
						{%icon 'new-chat-room'%}
						<span class="is-hidden-mobile">{{create_room}}</span>
					</a>
				</div>
			</span>
		</div>
		<div class="panel-block">
			<span class="control">{%paginate page%}</span>
		</div>
		{% for room in page.object_list %}
			{%blocktranslate asvar trans_nmsgs count nmsgs=room.num_messages trimmed%}
				{{nmsgs}} message
			{%plural%}
				{{nmsgs}} messages
			{%endblocktranslate%}
			<div class="panel-block is-flex is-flex-wrap-wrap is-align-items-flex-start">
				{%if room.first_message_author%}
				<div class="px-1">
					<figure class="image mini-avatar mr-2">
						<img class="is-rounded" src="{{room.first_message_author.avatar_mini_url}}" alt="{{room.first_message_author.username}}">
					</figure>
				</div>
				<div class="has-text-primary has-text-weight-bold has-text-right mr-5">
					{{room.first_message_author.get_full_name}}
					<a href="{%url 'members:detail' room.first_message_author.id %}" aria-label="{%trans 'profile'%}">
						{%icon "member-link" %}
					</a>
					<br>
					<span class="tag mr-3">{{trans_nmsgs}}</span>
					{%include "cm_main/followers/followers-count-tag.html" with followed_object=room %}
				</div>
				<div class="is-flex-grow-1">
					<a class="title is-size-6" href="{%url 'chat:room' room.slug %}">{{room.name}}</a> 
				</div>
			{%else%}
				<div class="px-1">
					<figure class="image mini-avatar mr-2">
						<img class="is-rounded" src="{{settings.DEFAULT_AVATAR_URL}}">
					</figure>
				</div>
				<div class="has-text-primary has-text-weight-bold has-text-right mr-5">
					{%trans "No author yet"%}
					{%icon "chat" "has-text-link"%}
					<br>
					<span class="tag mr-3">{{trans_nmsgs}}</span>
					{%include "cm_main/followers/followers-count-tag.html" with followed_object=room %}
				</div>
				<div class="is-flex-grow-1">
						<a class="title is-size-6" href="{%url 'chat:room' room.slug %}">{{room.name}}</a> 
				</div>
			{%endif%}
				<div class="mr-1">
					{%url 'chat:toggle_follow' room.slug as toggle_follow_url %}
					{%include "cm_main/followers/toggle-follow-button.html" with followed_object=room extra_class="is-pulled-right" is_hidden_mobile="true"%}
				</div>
			</div>
		{%endfor%}
		</div>
</div>

<script>
$(document).ready(() => {
	$('#room-name-input').focus();

	$('#room-name-input').on('keyup', (e) => {
		if (e.keyCode === 13) {
			$('#room-name-submit').trigger('click');
  	}
	});

	$('#room-name-submit').on('click', (e) => {
	  var roomName = encodeURIComponent($('#room-name-input').val());
	  window.location.replace('{%url "chat:new_room"%}?name='+roomName);
	});
});
</script>
{% endblock %}
