{% extends "cm_main/base.html" %}
{% load i18n cm_tags %}
{% block title %}{% title room.name %}{% endblock %}
{% block content %}
<div class="container">
		<p class="title">{%trans "Let's chat!" %}</p>

		<div class="panel">
			<p class="panel-heading">{{room.name}}</p>
			<div  id="chat-messages" style="max-height: 500px; overflow-y: scroll;">
			{%for msg in chat_messages %}
			<div class="panel-block  has-text-right">
				<p class="has-text-primary has-text-weight-bold mr-5">
					{{msg.member.username}}<br>
					<span class="is-size-7">{{msg.date_added|date:"DATETIME_FORMAT"}}</span>
				</p>
				<p class="content">{{msg.content}}</p> 
				
			</div>
			{%endfor%}
		</div>
		<div class="panel-block">
				<div class="field is-grouped is-flex-grow-5">
					<div class="control is-flex-grow-5">
						<input class="input" type="text" placeholder="{%trans 'Message' %}" id="chat-message-input">
					</div>
					<div class="control">
						<a class="button is-primary" id="chat-message-submit">
							<span class="icon is-large"><i class="mdi mdi-24px mdi-send-variant-outline"></i></span>
							<span class="is-hidden-mobile">{%trans 'Submit' %}</span>
						</a>
					</div>
				</div>
		</div>
	</div>
</div>

<script>
	const $roomSlug = encodeURIComponent('{{room.slug}}')
	const $member = '{{request.user.id}}'
	const $userName = '{{request.user.username}}'

	const $chatSocket = new WebSocket(
		'ws://' + window.location.host + '/chat/' + $roomSlug
	);

	$chatSocket.onclose = (e) => {
		console.error('The socket closed unexpectedly');
	};

	$chatSocket.onmessage = (e) => {
		const $data = JSON.parse(e.data);
		if ($data.message) {
			$messages = $('#chat-messages')
			$messages.append(
				'<div class="panel-block has-text-right">' +
					'<p class="has-text-primary has-text-weight-bold mr-5">' + $data.username + '<br>' +
					'  <span class="is-size-7">' + $data.date_added + '</span></p>' +
					'<p class="content">' + $data.message + '</p>' + 
				'</div>');
				$messages.scrollTop($messages[0].scrollHeight)
		} else {
			alert(gettext('The message was empty!'))
		}
	};

	$('#chat-message-input').focus();
	$('#chat-message-input').on('keyup', (e) => {
		if (e.keyCode === 13) {
			$('#chat-message-submit').trigger('click');
		}
	});

	$('#chat-message-submit').on('click', (e) => {
		const $msg_el = $('#chat-message-input');
		const $message = $msg_el.val();

		$chatSocket.send(JSON.stringify({
			'message': $message,
			'member': $member,
			'username': $userName,
			'room': $roomSlug,
		}));

		$msg_el.val('');
	});
</script>
{% endblock %}
