{% extends "cm_main/base.html" %}
{% load i18n cm_tags static crispy_forms_tags %}
{%block header %}
<script>
const $roomSlug = encodeURIComponent('{{room.slug}}');
const $member = '{{request.user.id}}';
const $userName = '{{request.user.username}}';
const $pageNumber = parseInt('{{page.number}}');
const $numPages = parseInt('{{page.num_pages}}');
const $lastPageLink = '{{page.last_page_link}}';
const $roomEditLink = "{% url 'chat:room-edit' room.slug %}";
</script>
<script src="{% static 'chat/js/chat.js' %}"></script>
{%endblock%}
{% block title %}{% title room.name %}{% endblock %}
{% block content %}
{%with chat_messages=page.object_list%}
<div class="container px-2">
		<h1 class="title has-text-centered">{%trans "Let's chat!" %}</h1>

		<div class="panel">
			<div class="panel-heading is-flex is-align-items-center is-justify-content-center">
				<span id="show-room-name">{{room.name}}</span>
				<form method="POST" id="room-edit-form">
					{% csrf_token %}
						<span class="control">
							<input class="input" class="is-flex-grow-1" type="text" placeholder="{%trans 'Room name'%}" 
										id="room-name-input" name="room-name" title="{%trans 'hit return to submit, escape to give up'%}">
						</span>
				</form>
				{%url 'chat:toggle_follow' room.slug as toggle_follow_url %}
				{%include "cm_main/followers/followers-count-tag.html" with followed_object=room extra_class="ml-auto mr-5"%}
				{%if room.owner == request.user %}
				<a class="button is-responsive is-pulled-right js-modal-trigger" data-target="delete-item-modal" title="{%trans 'Delete' %}">
					{%icon "delete" %}
				</a>
				<a class="button is-responsive is-pulled-right" onclick="toggle_edit_room_form();" title="{%trans 'Edit' %}">
						{%icon "edit" %}
					</a>
				{%else%}
					{%include "cm_main/followers/toggle-follow-button.html" with followed_object=room %}
				{%endif%}
		
				</div>
			<div class="panel-block">
				<span class="control">{%paginate page%}</span>
			</div>
			<div  id="chat-messages">
			{%for msg in chat_messages %}
			{# WARNING!!! The code of below <div> is duplicated in chat.js, function append_message_data #}
			<div class="panel-block has-text-right is-flex is-flex-wrap-wrap is-align-items-flex-start" id="message-div-{{msg.id}}">
				<p class="has-text-primary has-text-weight-bold mr-5">
					{{msg.member.username}}
					<a href="{%url 'members:detail' msg.member.id %}" aria-label="{%trans 'profile'%}">
						{%icon "member-link" %}
					</a>
					<br>
					<span class="is-size-7">{{msg.date_added|date:"DATETIME_FORMAT"}}</span>
				</p>
				<p class="content is-flex-grow-1 has-text-left">{{msg.content}}</p> 
				{%if request.user == msg.member %}
				<div class="button is-pulled-right delete-chat-message" title="{%trans 'Delete' %}" data-msgid="{{msg.id}}">
					{%icon "delete" %}
				</div>
				{%endif%}
			</div>
			{%endfor%}
		</div>
		<div class="panel-block">
				<div class="field is-grouped is-flex-grow-5">
					<div class="control is-flex-grow-5">
						<input class="input" type="text" placeholder="{%trans 'Message' %}" id="chat-message-input">
					</div>
					<div class="control">
						<a class="button is-primary" id="chat-message-submit">
							{%icon "send-message" %}
							<span class="is-hidden-mobile">{%trans 'Submit' %}</span>
						</a>
					</div>
				</div>
		</div>
	</div>
</div>
{%if room.owner == request.user %}
	{%url 'chat:room-delete' room.slug as delete_url%}
	{%trans 'Room deletion' as delete_title%}
	{%blocktranslate asvar delete_msg with room_name=room.name trimmed %}
		Are you sure you want to delete the room "{{room_name}}" and all its messages?
	{%endblocktranslate%}
	{%include "cm_main/common/confirm-delete-modal.html" with ays_title=delete_title ays_msg=delete_msg action_url=delete_url expected_value=room.name %}
{%endif%}

{%endwith%}
{% endblock %}
