{% extends "cm_main/base.html" %}
{% load i18n cm_tags static crispy_forms_tags %}
{%block header %}
<script>
const $roomSlug = encodeURIComponent('{{room.slug}}');
const $member = '{{request.user.id}}';
const $userName = '{{request.user.username}}';
const $pageNumber = {{page.number}};
const $numPages = {{page.num_pages}};
const $lastPageLink = '{{page.last_page_link}}';
const $roomEditLink = "{% url 'chat:room-edit' room.slug %}";
</script>
<script src="{% static 'chat/js/chat.js' %}"></script>
{%endblock%}
{% block title %}{% title room.name %}{% endblock %}
{% block content %}
{%with chat_messages=page.object_list%}
<div class="container">
		<p class="title">{%trans "Let's chat!" %}</p>

		<div class="panel">
			<div class="panel-heading is-flex">
				<span id="show-room-name">{{room.name}}</span>
				<form method="POST" id="room-edit-form">
					{% csrf_token %}
						<span class="control">
							<input class="input" style="width: auto;" type="text" placeholder="{%trans 'Room name'%}" 
										id="room-name-input" name="room-name" title="{%trans 'hit return to submit, escape to give up'%}">
						</span>
				</form>
				{%url 'chat:toggle_follow' room.slug as toggle_follow_url %}
				{%include "cm_main/followers/followers-count-tag.html" with followed_object=room extra_class="ml-auto mr-5"%}
				{%if room.owner == request.user %}
				{%url 'chat:room-delete' room.slug as delete_url%}
				<a class="button is-primary is-outlined is-pulled-right" onclick="delete_room('{{delete_url}}');"
					 title="{%trans 'Delete' %}">
					<span class="icon is-large"><i class="mdi mdi-24px mdi-trash-can-outline"></i></span>
				</a>
				<a class="button is-primary is-outlined is-pulled-right" onclick="toggle_edit_room_form();" title="{%trans 'Edit' %}">
						<span class="icon is-large"><i class="mdi mdi-24px mdi-pencil-outline"></i></span>
					</a>
				{%else%}
					{%include "cm_main/followers/toggle-follow-button.html" with followed_object=room %}
				{%endif%}
		
				</div>
			<div class="panel-block">
				<span class="control">{%paginate page%}</span>
			</div>
			<div  id="chat-messages" style="max-height: 500px; overflow-y: scroll;">
			{%for msg in chat_messages %}
			<div class="panel-block  has-text-right">
				<p class="has-text-primary has-text-weight-bold mr-5">
					{{msg.member.username}}<br>
					<span class="is-size-7">{{msg.date_added|date:"DATETIME_FORMAT"}}</span>
				</p>
				<p class="content">{{msg.content}}</p> 
				
			</div>
			{%endfor%}
		</div>
		<div class="panel-block">
				<div class="field is-grouped is-flex-grow-5">
					<div class="control is-flex-grow-5">
						<input class="input" type="text" placeholder="{%trans 'Message' %}" id="chat-message-input">
					</div>
					<div class="control">
						<a class="button is-primary" id="chat-message-submit">
							<span class="icon is-large"><i class="mdi mdi-24px mdi-send-variant-outline"></i></span>
							<span class="is-hidden-mobile">{%trans 'Submit' %}</span>
						</a>
					</div>
				</div>
		</div>
	</div>
</div>{%endwith%}
{% endblock %}
