{% load i18n static cm_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% title _("Home") %}{% endblock %}</title>
    {# bulma stylesheet #}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
     {# material design icons #}
     <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css">
    {# jquery #}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" 
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
            crossorigin="anonymous"></script>
    {% block header %}{%endblock%}
    {# cousins matter css and js#}
    <link rel="stylesheet" href="{% static 'cm_main/css/cm_main.css' %}">
    <script src="{% static 'cm_main/js/cm_main.js' %}"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'cm_main/images/favicon.ico' %}"/>
    <script src="{% url 'cm_main:javascript-catalog' %}"></script>
  </head>
  <body>
    <nav class="navbar is-dark has-shadow" role="navigation" aria-label="main navigation">
    {% block sidebar %}
      {% include "cm_main/menu.html" %}
    {% endblock %}
    </nav>

    <div id="content" {%if settings.DARK_MODE%}data-theme="dark"{%endif%}>
      <div class="container">
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="message is-{{ message.tags }}"{% endif %}>
            <div class="message-body">
              {% autoescape off %}
                {{ message }}
              {% endautoescape %}
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% block content %}
        {% include "cm_main/home.html" %}
      {% endblock %}
    </div>
    <footer class="footer">
      <div class="content has-text-centered">
        {%if settings.SITE_FOOTER%}<p>{{settings.SITE_FOOTER}}</p>{%endif%}
        <p class="is-size-6">
          {% translate 'This site proudly built using' %} 
          <a href="https://github.com/leolivier/cousins-matter"><strong>Cousins Matter</strong></a>.
          {% translate 'The source code is licensed' %} 
          <a href="http://opensource.org/licenses/mit-license.php"><i class="icon"><span class="mdi mdi-copyleft"></span></i>MIT</a>. 
          <br/>
          {%site_copyright%}
        </p>
      </div>
    </footer>
  </body>
</html>