{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% translate "Cousins Matter!" %}{% endblock %}</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="{% static 'cm_main/css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" 
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
            crossorigin="anonymous"></script>
    <script src="{% static 'js/cousinsmatter.js' %}"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'cm_main/images/favicon.ico' %}"/>
  </head>
  <body>
    <nav class="navbar is-dark has-shadow" role="navigation" aria-label="main navigation">
    {% block sidebar %}
      {% include "cm_main/menu.html" %}
    {% endblock %}
    </nav>

    <div id="content">
      <div class="container">
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="message is-{{ message.tags }}"{% endif %}>
            {% if message.tags %}
            <div class="message-header">
              <p>{{ message.tags|capfirst }}</p>
              <button class="delete" aria-label="delete"></button>
            </div>
            {% endif %}
            <div class="message-body">
              {% autoescape off %}
                {{ message }}
              {% endautoescape %}
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% block content %}
        {% include "cm_main/home.html" %}
      {% endblock %}
    </div>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          {{site_copyright}}
          {% translate 'This site proudly built using' %} 
          <a href="https://github.com/leolivier/cousins-matter-django"><strong>Cousins Matter</strong></a>
          {% translate "by" %} <a href="https://github.com/leolivier">Olivier LEVILLAIN</a>.
          {% translate 'The source code is licensed' %} 
          <a href="http://opensource.org/licenses/mit-license.php"><i class="icon"><span class="mdi mdi-copyleft"></span></i>MIT</a>. 
        </p>
      </div>
    </footer>
  </body>
</html>