{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% translate "Cousins Matter!" %}{% endblock %}</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/cousinsmatter.js' %}"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
  </head>
  <body>
    <nav class="navbar is-dark has-shadow" role="navigation" aria-label="main navigation">
      {% block sidebar %}
      {% include "cm_main/menu.html" %}
      {% endblock %}
    </nav>

    <div id="content">
        {% if messages %}
        <div class="container">
          <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="message is-{{ message.tags }}"{% endif %}>
              <div class="message-body">
                {% autoescape off %}
                  {{ message }}
                {% endautoescape %}
              </div>
            </li>
          {% endfor %}
          </ul>
        </div>
        {% endif %}
        {% block content %}
        {% include "cm_main/home.html" %}
        {% endblock %}
    </div>
  </body>
</html>