{% load i18n %}
{% load include_view %}
<div class="container">
  <div class="media">
    <figure class="media-left">
      <p class="image">
        <img style='height: 250px' src="{{home_logo}}">
      </p>
    </figure>
    <div class="media-content">
			<h1 class="title">{{home_title}}</h1>
			<div class="content">
				{% autoescape off %}
				{% if home_content == "" %}
					{% translate "No home content yet, please provide values in .env for variables HOME_CONTENT_UNSIGNED and HOME_CONTENT_SIGNED." %}
				{% else %}
					{{home_content}}
				{% endif %}
				{% endautoescape %}
			</div>
    </div>
  </div>
	{% if user.is_authenticated %}
	{% include_view "members:include_birthdays" %}
	{% endif %}
