{% load i18n flatpages menupages_tags static %}
<div class="navbar-brand">
	<a class="navbar-item" href="/">
		<img src="{% static 'cm_main/images/cousinades.png' %}" width="112" height="28">
	</a>

	<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
		<span aria-hidden="true"></span>
		<span aria-hidden="true"></span>
		<span aria-hidden="true"></span>
	</a>
</div>

<div id="navMenu" class="navbar-menu">
	<div class="navbar-start">
		{% if user.is_superuser %}
		<a class="navbar-item" href="{%url 'pages-edit:list'%}">
			{%trans 'Edit Pages'%}
		</a>
		{%endif%}
		{%get_menu_pages%}
		<div class="navbar-item has-dropdown is-hoverable">
			<a class="navbar-item" href="{% url 'members:members' %}">
				{% translate "Members" %}
				<span class="icon is-large"><i class="mdi mdi-24px mdi-account-group-outline"></i></span>
			</a>
			<div class="navbar-dropdown is-right">
				<a class="navbar-item" href="{% url 'members:birthdays' %}">
					{% translate "Birthdays" %}
					<span class="icon is-large"><i class="mdi mdi-24px mdi-cake-variant-outline"></i></span>
				</a>
				<a class="navbar-item" href="{% url 'members:directory' %}">
					{% translate "Show directory" %}
					<span class="icon is-large"><i class="mdi mdi-24px mdi-book-alphabet"></i></span>
				</a>
				<a class="navbar-item" href="{% url 'members:create' %}">
						{% translate "Create Member" %}
						<span class="icon is-large"><i class="mdi mdi-24px mdi-account-plus"></i></span>
				</a>
				{% if user.is_superuser %}
					<a class="navbar-item" href="{% url 'members:invite' %}">
						{% translate "Invite Member" %}
						<span class="icon is-large"><i class="mdi mdi-24px mdi-card-account-mail-outline"></i></span>
					</a>
					<a class="navbar-item" href="{% url 'members:csv_import' %}">
						{% translate "Import from CSV" %}
						<span class="icon is-large"><i class="mdi mdi-24px mdi-account-multiple-plus-outline"></i></span>
					</a>
					{% endif %}
			</div>
		</div>

		<div class="navbar-item has-dropdown is-hoverable">
			<a class="navbar-item" href="{% url 'galleries:galleries' %}">
				{% translate "Galleries" %}
				<span class="icon is-large"><i class="mdi mdi-24px mdi-folder-multiple-image"></i></span>
			</a>
			<div class="navbar-dropdown">
				<a class="navbar-item" href="{% url 'galleries:create' %}">
					{% translate "Create Gallery" %}
					<span class="icon is-large"><i class="mdi mdi-24px mdi-file-image-plus-outline"></i></span>
				</a>
				<a class="navbar-item" href="{% url 'galleries:bulk_upload' %}">
					{% translate "Bulk Upload" %}
					<span class="icon is-large"><i class="mdi mdi-24px mdi-folder-plus-outline"></i></span>
				</a>
			</div>
		</div>

		<div class="navbar-item has-dropdown is-hoverable">
			<a class="navbar-item" href="{% url 'forum:list' %}">
				{% translate "Forum" %}
				<span class="icon is-large"><i class="mdi mdi-24px mdi-forum"></i></span>
			</a>
			<div class="navbar-dropdown">
				<a class="navbar-item" href="{% url 'forum:create' %}">
					{% translate "Create Post" %}
					<span class="icon is-large"><i class="mdi mdi-24px mdi-forum-plus-outline"></i></span>
				</a>
			</div>
		</div>

		<div class="navbar-item has-dropdown is-hoverable">
			<a class="navbar-item" href="{% url 'chat:chat' %}">
				{% translate "Chat" %}
				<span class="icon is-large"><i class="mdi mdi-24px mdi-chat"></i></span>
			</a>
		</div>

		{% comment %}
			<li><a href="{% url 'polls:polls' %}">{% translate "Polls" %}</a></li>
			<li><a href="{% url 'admin:admin' %}">{% translate "Admin" %}</a></li>
		</ul>
		{% endcomment %}
	</div>

	<div class="navbar-end">
		<div class="navbar-item">
			<div class="navbar-item has-dropdown is-hoverable">
				<button class="button navbar-link is-light">
					<span class="icon is-large">
						<i class="mdi mdi-24px mdi-help-circle-outline"></i>
					</span>
				</button>
				{%with about_prefix='/pages/'|add:settings.LANGUAGE_CODE|add:'/about/' private_prefix='/pages/'|add:settings.LANGUAGE_CODE|add:'/private/'%}
				{% get_flatpages about_prefix as about_pages %}
				<div class="navbar-dropdown is-right">
					{% for page in about_pages %}
        	<a class="navbar-item" href="{{ page.url }}">{{ page.title }}</a>
    			{% endfor %}
					{%if about_pages %}
					<hr class="navbar-divider">
					{%endif%}
					<a class="navbar-item" href="{% url 'cm_main:contact' %}">{%trans "Contact the site admin" %}</a>
				</div>
				{%endwith%}
			</div>
		</div>
		<div class="navbar-item">
			<div class="buttons">
				{% if not user.is_authenticated %}
				<a class="button is-light" href="{% url 'members:login' %}">
					<span class="icon"><i class="mdi mdi-24px mdi-account-check"></i></span>
					<span>{% translate "Sign in" %}</span>
				</a>
{#				<a class="button is-primary" href="{% url 'members:register' %}"> #}
					<a class="button is-primary" href="{% url 'members:register_request' %}">
					<span class="icon"><i class="mdi mdi-24px mdi-account-box-plus-outline"></i></span>
					<span><strong>{% translate "Request invitation link" %}</strong></span>
				</a>
				{% else %}
				<div class="navbar-item has-dropdown is-hoverable">
					<button class="button navbar-link is-light">
						<span>{{user.username}}</span>
						<span class="icon is-large">
							<i class="mdi mdi-24px mdi-account-outline"></i>
						</span>
					</button>
					<div class="navbar-dropdown is-right">
						<p class="has-text-centered is-size-4"><strong>{{user.username}}</strong></p>
						<a class="navbar-item" href="{% url 'members:profile' %}">
							<span class="icon"><i class="mdi mdi-24px mdi-account-box-edit-outline"></i></span>
							<span>{% translate "Profile" %}</span>
						</a>
						<a class="navbar-item" href="{% url 'members:logout'%}">
							<span class="icon"><i class="mdi mdi-24px mdi-account-arrow-right"></i></span>
							<span>{% translate "Log Out" %}</span>
						</a>
					</div>
				</div>
			{% endif %}
			</div>
		</div>
	</div>
</div>