{% load i18n flatpages menupages_tags cm_tags static %}
<nav class="navbar is-primary has-shadow" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" href="/">
			<img src="{% static 'cm_main/images/cousinades.png' %}" width="112" height="28">
		</a>

		<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div id="navMenu" class="navbar-menu">
		<div class="navbar-start">
			{%pages_menu%}
			<div class="navbar-item has-dropdown is-hoverable">
				{% url 'members:members' as members_url%}
				{%navbar_item members_url _("Members") "members" %}
				<div class="navbar-dropdown is-right">
					{% url 'members:directory' as dir_url %}
					{%navbar_item dir_url _("Show directory") "directory" %}
					{% url 'members:create' as create_url%}
					{%navbar_item  create_url _("Create Member") "new-member" %}
					{% url 'members:invite' as invite_url%}
					{%navbar_item invite_url _("Invite Member") "invite-member" %}
				</div>
			</div>

			<div class="navbar-item has-dropdown is-hoverable">
				{% url 'galleries:galleries' as galleries_url%}
				{%navbar_item galleries_url _("Galleries") "galleries" %}
				<div class="navbar-dropdown">
					{% url 'galleries:create' as galleries_url%}
					{%navbar_item galleries_url _("Create Gallery") "new-gallery" %}
					{% url 'galleries:bulk_upload' as galleries_url%}
					{%navbar_item galleries_url _("Bulk Upload") "import-galleries" %}
				</div>
			</div>

			<div class="navbar-item has-dropdown is-hoverable">
				{% url 'forum:list' as forum_url%}
				{%navbar_item forum_url _("Forum") "forum" %}
				<div class="navbar-dropdown">
					{% url 'forum:create' as forum_url%}
					{%navbar_item forum_url _("Create Post") "new-forum" %}
				</div>
			</div>

			<div class="navbar-item has-dropdown is-hoverable">
				{% url 'chat:chat' as chat_url%}
				{%navbar_item chat_url _("Chat") "chat" %}
			</div>

			{% comment %}
				<li><a href="{% url 'polls:polls' %}">{%trans "Polls" %}</a></li>
				<li><a href="{% url 'admin:admin' %}">{%trans "Admin" %}</a></li>
			</ul>
			{% endcomment %}

		</div>


		<div class="navbar-end">
			<div class="navbar-item has-dropdown is-hoverable">
				<button class="button navbar-link is-light">
					{%icon "settings" %}
				</button>
				<div class="navbar-dropdown is-right">
				{% if user.is_superuser %}
					{% url 'pages-edit:list' as page_url%}
					{%navbar_item page_url _("Edit Pages") "edit-page" %}
					{% url 'members:csv_import' as import_url%}
					{%navbar_item import_url _("Import members from CSV") "import-members" %}
					<hr class='navbar-divider'>
				{% endif %}
					{% link_pages_starting_with '/admin/' "admin" %}
					{%navbar_item "#" _("No user settings yet") "account-cog" %}
				</div>
			</div>
			<div class="navbar-item has-dropdown is-hoverable">
				<button class="button navbar-link is-light">
					{%icon "help" %}
				</button>
				{%with about_prefix='/'|add:settings.LANGUAGE_CODE|add:'/about/' private_prefix='/private/'%}
				<div class="navbar-dropdown is-right">
					{% link_pages_starting_with about_prefix "information" %}
					{% link_pages_starting_with private_prefix "private" %}
					{% url 'cm_main:contact' as contact_url%}
					{%navbar_item contact_url _("Contact the site admin") "contact" %}
				</div>
				{%endwith%}
			</div>
			{% if not user.is_authenticated %}
			<div class="navbar-item">
				<div class="buttons">
					<a class="button is-link" href="{% url 'members:login' %}">
						{%icon "login" %}
						<span>{%trans "Sign in" %}</span>
					</a>
					<a class="button has-background-link-light has-text-link" href="{% url 'members:register_request' %}">
						{%icon "invite-request" %}
						<span><strong>{%trans "Request invitation link" %}</strong></span>
					</a>
				</div>
			</div>
			{% else %}
			<div class="navbar-item has-dropdown is-hoverable">
				{%navbar_item "#" user.username "member" %}
				<div class="navbar-dropdown is-right">
					{% url 'members:profile' as profile_url%}
					{%navbar_item profile_url _("Profile") "profile" %}
					{% url 'members:logout' as v_url%}
					{%navbar_item logout_url _("Log Out") "logout" %}
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</nav>
