{% load i18n flatpages menupages_tags cm_tags static %}
<div class="navbar-brand">
	<a class="navbar-item" href="/">
		<img src="{% static 'cm_main/images/cousinades.png' %}" width="112" height="28">
	</a>

	<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
		<span aria-hidden="true"></span>
		<span aria-hidden="true"></span>
		<span aria-hidden="true"></span>
	</a>
</div>

<div id="navMenu" class="navbar-menu">
	<div class="navbar-start">
		{%pages_menu%}
		<div class="navbar-item has-dropdown is-hoverable">
			<a class="navbar-item" href="{% url 'members:members' %}">
				{% translate "Members" %}
				{%icon "members" %}
			</a>
			<div class="navbar-dropdown is-right">
				<a class="navbar-item" href="{% url 'members:birthdays' %}">
					{% translate "Birthdays" %}
					{%icon "birthday" %}
				</a>
				<a class="navbar-item" href="{% url 'members:directory' %}">
					{% translate "Show directory" %}
					{%icon "directory-variant" %}
				</a>
				<a class="navbar-item" href="{% url 'members:create' %}">
						{% translate "Create Member" %}
						{%icon "new-member" %}
				</a>
				{% if user.is_superuser %}
					<a class="navbar-item" href="{% url 'members:invite' %}">
						{% translate "Invite Member" %}
						{%icon "invite-member" %}
					</a>
					<a class="navbar-item" href="{% url 'members:csv_import' %}">
						{% translate "Import from CSV" %}
						{%icon "import-members" %}
					</a>
					{% endif %}
			</div>
		</div>

		<div class="navbar-item has-dropdown is-hoverable">
			<a class="navbar-item" href="{% url 'galleries:galleries' %}">
				{% translate "Galleries" %}
				{%icon "galleries" %}
			</a>
			<div class="navbar-dropdown">
				<a class="navbar-item" href="{% url 'galleries:create' %}">
					{% translate "Create Gallery" %}
					{%icon "new-gallery" %}
				</a>
				<a class="navbar-item" href="{% url 'galleries:bulk_upload' %}">
					{% translate "Bulk Upload" %}
					{%icon "import-galleries" %}
				</a>
			</div>
		</div>

		<div class="navbar-item has-dropdown is-hoverable">
			<a class="navbar-item" href="{% url 'forum:list' %}">
				{% translate "Forum" %}
				{%icon "forum" %}
			</a>
			<div class="navbar-dropdown">
				<a class="navbar-item" href="{% url 'forum:create' %}">
					{% translate "Create Post" %}
					{%icon "new-forum" %}
				</a>
			</div>
		</div>

		<div class="navbar-item has-dropdown is-hoverable">
			<a class="navbar-item" href="{% url 'chat:chat' %}">
				{% translate "Chat" %}
				{%icon "chat" %}
			</a>
		</div>

		{% comment %}
			<li><a href="{% url 'polls:polls' %}">{% translate "Polls" %}</a></li>
			<li><a href="{% url 'admin:admin' %}">{% translate "Admin" %}</a></li>
		</ul>
		{% endcomment %}

	</div>


	<div class="navbar-end">
		<div class="navbar-item has-dropdown is-hoverable">
			<button class="button navbar-link is-light">
				{%icon "settings" %}
			</button>
			<div class="navbar-dropdown">
				{% if user.is_superuser %}
				<a class="navbar-item" href="{%url 'pages-edit:list'%}">
					{%trans 'Edit Pages'%}
				</a>
				<hr class='navbar-divider'>
				{% link_pages_starting_with '/admin/' "navbar-item" "hr class='navbar-divider'"%}
				<span class="navbar-item">No settings yet</span>
			</div>
			{%endif%}
		</div>
		<div class="navbar-item has-dropdown is-hoverable">
			<button class="button navbar-link is-light">
				{%icon "help" %}
			</button>
			{%with about_prefix='/'|add:settings.LANGUAGE_CODE|add:'/about/' private_prefix='/private/'%}
			<div class="navbar-dropdown is-right">
				{% link_pages_starting_with about_prefix "navbar-item" "hr class='navbar-divider'" %}
				{% link_pages_starting_with private_prefix "navbar-item" "hr class='navbar-divider'" %}
				<a class="navbar-item" href="{% url 'cm_main:contact' %}">{%trans "Contact the site admin" %}</a>
			</div>
			{%endwith%}
		</div>
		<div class="navbar-item">
			<div class="buttons">
				{% if not user.is_authenticated %}
				<a class="button is-light" href="{% url 'members:login' %}">
					{%icon "login" %}
					<span>{% translate "Sign in" %}</span>
				</a>
{#				<a class="button is-primary" href="{% url 'members:register' %}"> #}
					<a class="button is-primary" href="{% url 'members:register_request' %}">
					{%icon "invite-request" %}
					<span><strong>{% translate "Request invitation link" %}</strong></span>
				</a>
				{% else %}
				<div class="navbar-item has-dropdown is-hoverable">
					<button class="button navbar-link is-light">
						<span>{{user.username}}</span>
						{%icon "member" %}
					</button>
					<div class="navbar-dropdown is-right">
						<p class="has-text-centered is-size-4"><strong>{{user.username}}</strong></p>
						<a class="navbar-item" href="{% url 'members:profile' %}">
							{%icon "profile" %}
							<span>{% translate "Profile" %}</span>
						</a>
						<a class="navbar-item" href="{% url 'members:logout'%}">
							{%icon "logout" %}
							<span>{% translate "Log Out" %}</span>
						</a>
					</div>
				</div>
			{% endif %}
			</div>
		</div>
	</div>
</div>

