{% load i18n cm_tags %}
<script>
	function goto_page_url(url) {
		window.location = url + '?page_size=' + $('#page_size').val()
	}
</script>
{%with page_first=page_range|first page_last=page_range|last%}
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
	{% if prev_page_url %}
	<a class="pagination-previous" onclick="goto_page_url('{{prev_page_url}}')">
		<span class="icon is-large"><i class="mdi mdi-24px mdi-chevron-left-box-outline"></i></span>
	</a>
	{% else %}
	<span class="pagination-previous icon is-large" disabled><i class="mdi mdi-24px mdi-chevron-left-box-outline"></i></span>
	{%endif%}
	<ul class="pagination-list">
		{% if page_first > 1 %}
		<li>
			<a class="pagination-link" onclick="goto_page_url('{{first_page_url}}')" title="{% trans 'go to first page'%}">1</a>
		</li>
			{% if page_first > 2 %}
			<li><span class="pagination-ellipsis">&hellip;</span></li>
			{%endif%}
		{%endif%}
		{% for url in page_urls %}
		{%with page_num=forloop.counter|add:page_first|add:-1%}
		<li>
			<a onclick="goto_page_url('{{url}}')" 
			{% if page_num != current_page %}
				class="pagination-link" 
				title="{% blocktranslate %}go to page #{{page_num}}{% endblocktranslate %}"
			{%else%}
				class="pagination-link is-current"
				title="{% blocktranslate %}page #{{page_num}}{% endblocktranslate %}"
				aria-current="page"
			{%endif%}
			>{{page_num}}</a>
		</li>
		{%endwith%}
		{%endfor%}
		{% if page_range|last < num_pages %}
			{%with num_pages_1=num_pages|add:-1 %}
			{% if page_range|last < num_pages_1 %}
			<li><span class="pagination-ellipsis">&hellip;</span></li>
			{%endif%}
			<li>
				<a class="pagination-link" onclick="goto_page_url('{{last_page_url}}')" title="{% trans 'go to last page'%}">{{num_pages}}</a>
			</li>
			{%endwith%}
		{%endif%}
	</ul>
	<div class="pagination-next" style="box-shadow: unset; border-style: hidden;">
		<label class="mr-3">{% translate "Items per page:" %}</label>
		<form>
			<div class="select">
				<select id="page_size" name="page_size" onchange="this.form.submit()">
				{%for per_page in possible_per_pages %}
					<option value="{{per_page}}" {%if per_page == page_size %}selected{%endif%}>{{per_page}}</option>
				{%endfor%}
				</select>
			</div>
		</form>
	</div>
	{% if next_page_url %}
	<a class="pagination-next"  onclick="goto_page_url('{{next_page_url}}')">
		<span class="icon is-large"><i class="mdi mdi-24px mdi-chevron-right-box-outline"></i></span>
	</a>
	{% else %}
	<span class="pagination-next icon is-large" disabled><i class="mdi mdi-24px mdi-chevron-right-box-outline"></i></span>
	{%endif%}
{%endwith%}	
</nav>
