{% load i18n flatpages menupages_tags cm_tags static %}
<aside class="menu">
	{%pages_sidemenu%}
	<p class="menu-label">{%trans "Members" %}</p>
	<ul class="menu-list">
		<li>
			<a href="{% url 'members:members' %}">
				{% translate "Members List" %}
				{%icon "members" %}
			</a>
		</li>
		<li>
			<a href="{% url 'members:birthdays' %}">
				{% translate "Birthdays" %}
				{%icon "birthday" %}
			</a>
		</li>
		<li>
			<a href="{% url 'members:directory' %}">
				{% translate "Show directory" %}
				{%icon "directory-variant" %}
			</a>
		</li>
		<li>
			<a href="{% url 'members:create' %}">
				{% translate "Create Member" %}
				{%icon "new-member" %}
			</a>
		</li>
		{% if user.is_superuser %}
		<li>
			<a href="{% url 'members:invite' %}">
				{% translate "Invite Member" %}
				{%icon "invite-member" %}
			</a>
		</li>
		<li>
			<a href="{% url 'members:csv_import' %}">
				{% translate "Import from CSV" %}
				{%icon "import-members" %}
			</a>
		</li>
		{% endif %}
	</ul>
	<p class="menu-label">{% translate "Galleries" %}</p>
	<ul class="menu-list">
		<li>
			<a href="{% url 'galleries:galleries' %}">
				{% translate "Galleries Gallery" %}
				{%icon "galleries" %}
			</a>
		</li>
		<li>
			<a href="{% url 'galleries:create' %}">
				{% translate "Create Gallery" %}
				{%icon "new-gallery" %}
			</a>
		</li>
		<li>
			<a href="{% url 'galleries:bulk_upload' %}">
				{% translate "Bulk Upload" %}
				{%icon "import-galleries" %}
			</a>
		</li>
	</ul>
	<p class="menu-label">{% translate "Forums" %}</p>
	<ul class="menu-list">
		<li>
			<a href="{% url 'forum:list' %}">
				{% translate "Posts List" %}
				{%icon "forum" %}
			</a>
		</li>
		<li>
			<a href="{% url 'forum:create' %}">
			{% translate "Create Post" %}
			{%icon "new-forum" %}
			</a>
		</li>
	</ul>
	<p class="menu-label">{% translate "Chat" %}</p>
	<ul class="menu-list">
		<li>
			<a href="{% url 'chat:chat' %}">
				{% translate "Chat Rooms" %}
			</a>
		</li>
	</ul>
	<p class="menu-label">{% translate "Settings" %}</p>
	<ul class="menu-list">
		<li>
			<a href="{%url 'pages-edit:list'%}">
				{% translate "Edit Pages" %}
				{%icon "edit-page" %}
			</a>
		</li>
	</ul>
	<p class="menu-label">{% translate "Help" %}</p>
	<ul class="menu-list">
		{%with about_prefix='/'|add:settings.LANGUAGE_CODE|add:'/about/' private_prefix='/private/'%}
		{% link_pages_starting_with about_prefix %}
		{% link_pages_starting_with private_prefix %}
		{%endwith%}
		<li>
			<a href="{% url 'cm_main:contact' %}">
				{% translate "Contact the site admin" %}
				{%icon "help" %}
			</a>
		</li>
	</ul>
</aside>
