{% load i18n crispy_forms_tags cm_tags %}
{%with message_id=message.id%}
<div class="container">
	<span class="tag">
	{%blocktranslate count ncomments=message.comment_set.count trimmed %}
		{{ncomments}} comment
	{%plural%}
		{{ncomments}} comments
	{%endblocktranslate%}
	</span>
	<hr style="margin-bottom: 0;">
	{% for comment in message.comment_set.all %}
	<div class="container" id="comment-div-{{comment.id}}">
		<div class="level" id="comment-level-{{comment.id}}">
			<div class="level-left">
				<div class="content is-small">
					<p class="mr-5" id="comment-content-{{comment.id}}">{{comment.content}}</p>
				</div>
			</div>
			<div class="level-right">
				<div class="container">
					<p class="content is-small">
						{{comment.author.get_full_name}}
						<a href="{%url 'members:detail' comment.author.id %}">
							{%icon "member-link" %}
						</a>
						<br>
						{{comment.date}}
					</p>
				</div>
				{% if comment.author.username == user.username %}
				<a class="button" onclick="show_edit_comment_form('{{comment.id}}');" title="{%trans 'Edit' %}">
					{%icon "edit" %}
				</a>
				{%url "forum:delete_comment" comment.id as delete_url%}
				<a class="button" onclick="delete_comment('{{delete_url}}', '{{comment.id}}')" title="{%trans 'Delete' %}">
					{%icon "delete" %}
				</a>
				{%endif%}
			</div>
		</div>
		<form method="POST" class="comment-form" id='edit-comment-{{comment.id}}'>
			{% csrf_token %}
			<div class="level">
				<div class="level-left">{{comment_form|crispy}}</div>
				<div class="level-right">
					<div class="buttons">
						<button type="submit" class="button is-link" title="{%trans 'Update' %}">
							{%icon "submit" %}
						</button>
						<button type="reset" class="button" onclick="hide_edit_comment_form('{{comment.id}}')"  title="{%trans 'Cancel' %}">
							{%icon "cancel" %}
						</button>
					</div>
				</div>
			</div>
			<script>$(document).ready(()=>{
				ajax_form_action('#edit-comment-{{comment.id}}', "{% url 'forum:edit_comment' comment.id %}", (response)=>{
					hide_edit_comment_form('{{comment.id}}', response.comment_str)
				})
			});</script>
		</form>
		<hr style="margin: 0;">
	</div>
	{% endfor %}

	<a class="is-small content" onclick="show_comment_form('#create-comment-{{message_id}}');">{%trans 'Add comment'%}</a>

	<form action="{%url 'forum:add_comment' message_id %}" id="create-comment-{{message_id}}" method="POST" class="comment-form">
		{% csrf_token %}
		<div class="level">
			<div class="level-left">{{comment_form|crispy}}</div>
			<div class="level-right">
				<div class="buttons">
					<input type="submit" class="button is-link" value="{%trans 'Add'%}">
					<input type="reset" class="button" value="{%trans 'Cancel'%}" 
						onclick="hide_comment_form('#create-comment-{{message_id}}')">
				</div>
			</div>
		</div>
	</form>
</div>
{%endwith%}
