{% extends "cm_main/base.html" %}
{% load i18n cm_tags crispy_forms_tags static %}
{% block header %}
	{%include "cm_main/include-summernote.html" %}
	<script src="{% static 'forum/js/forum.js' %}"></script>
{%endblock%}
{% block title %}{% title _("Post") %}{% endblock %}
{% block content %}
{%with message=post.first_message %}
{%blocktranslate asvar trans_nreplies count nreplies=post.message_set.count|add:-1 trimmed %}
	{{nreplies}} answer
{%plural%}
	{{nreplies}} answers
{%endblocktranslate%}
<div class="container mt-5">
	<div class="level">
		<div class="level-left">
			<div class="title is-2">{{post.title}}</div>
		</div>
		<div class="level-item">
			<figure class="image mini-avatar mr-2">
				<img class="is-rounded" src="{{message.author.avatar_mini_url}}" alt="message.author.get_full_name">
			</figure>
			<div class="container">
				<p class="content is-size-6">
					{{message.author.get_full_name}}
					<a href="{%url 'members:detail' message.author.id %}">
						<span class="icon"><i class="mdi mdi-open-in-new"></i></span>
					</a>
					<br>
					<span class="is-size-6">{{post.first_message.date|date:"DATETIME_FORMAT"}}</span>
				</p>
			</div>
			<div class="container">
				<span class="tag is-medium">{{trans_nreplies}}</span>
				<br>
				<span class="tag is-medium">
					{%blocktranslate count nfollowers=post.followers.count trimmed %}
					{{nfollowers}} follower
					{%plural%}
					{{nfollowers}} followers
					{%endblocktranslate%}
				</span>
				</div>
		</div>
		<div class="level-right">
			{% if post.first_message.author.username == user.username %}
			<a class="button" href="{% url 'forum:edit' post.id %}" title="{%trans 'Edit' %}">
				<span class="icon is-large"><i class="mdi mdi-24px mdi-pencil-outline"></i></span>
			</a>
			<button class="button js-modal-trigger" data-target="delete-post-modal" title="{%trans 'Delete' %}">
				<span class="icon is-large"><i class="mdi mdi-24px mdi-trash-can-outline"></i></span>
			</button>
			{%else%}
			<a	class="button" href="{%url 'forum:toggle_follow' post.id %}" 
				{%if request.user in post.followers.all %}
				{%trans 'unfollow' as unfollow%}
				aria-label="{{unfollow}}" title="{{unfollow}}">
				<span class="icon is-large">
					<i class="mdi mdi-24px mdi-arrow-down-bold-hexagon-outline"></i>
				{%else%}
				{%trans 'follow' as follow%}
				aria-label="{{follow}}" title="{{follow}}">
				<span class="icon is-large">
					<i class="mdi mdi-24px mdi-arrow-up-bold-hexagon-outline"></i>
				{%endif%}
				</span>
			</a>
			{%endif%}
		</div>
	</div>
	<div class="container">
		{% autoescape off %}{{message.content}}{%endautoescape%}
	</div>
</div>
{%include "forum/comment_list.html" with message=message%}
<hr>
<div class="container">
	
	<p class="tag is-medium mb-4">
		{%if nreplies > 0%}
			{{trans_nreplies}}
			{%paginate page%}
		{%else%}
			{%trans 'No answer'%}
		{%endif%}
	</p>

	{%for reply in page.object_list %}
	<div class="container has-text-left" id="reply-div-{{reply.id}}">
		<hr>
		<div class="block" id="reply-level-{{reply.id}}">
			<span id="reply-content-{{reply.id}}">{% autoescape off %}{{reply.content}}{%endautoescape%}</span>
			<div class="level">
				<div class="level-left">
					<p class="content is-small">
						{{reply.author.get_full_name}}
						<a href="{%url 'members:detail' reply.author.id %}">
							<span class="icon"><i class="mdi mdi-open-in-new"></i></span>
						</a>
						<br>
						{{reply.date}}
					</p>
				</div>
				{% if reply.author.username == user.username %}
				<div class="level-right">
					<a class="button" onclick="show_edit_reply_form('{{reply.id}}')" title="{%trans 'Edit' %}">
						<span class="icon is-large"><i class="mdi mdi-24px mdi-pencil-outline"></i></span>
					</a>
					{% url 'forum:delete_reply' reply.id as delete_reply_url %}
					<a class="button" onclick="delete_reply('{{delete_reply_url}}', '{{reply.id}}')" title="{%trans 'Delete' %}">
						<span class="icon is-large"><i class="mdi mdi-24px mdi-trash-can-outline"></i></span>
					</a>
				</div>
				{%endif%}
			</div>
		</div>
		<form method="POST" class="reply-form" id='edit-reply-{{reply.id}}'>
			{% csrf_token %}
			<div class="level">
				<div class="level-left">{{reply_form|crispy}}</div>
				<div class="level-right">
					<div class="buttons">
						<button type="submit" class="button is-link" title="{%trans 'Update' %}">
							<span class="icon"><i class="mdi mdi-check-circle-outline"></i></span>
						</button>
						<button type="reset" class="button" onclick="hide_edit_reply_form('{{reply.id}}')" title="{%trans 'Cancel' %}">
							<span class="icon"><i class="mdi mdi-close-circle-outline"></i></span>
						</button>
					</div>
				</div>
			</div>
			<script>$(document).ready(()=>{
				ajax_form_action('#edit-reply-{{reply.id}}', "{% url 'forum:edit_reply' reply.id %}", (response)=>{
					hide_edit_reply_form('{{reply.id}}', response.reply_str)
				})
			});</script>
		</form>
	{%include "forum/comment_list.html" with message=reply %}
	</div>
	{%endfor%}
	<hr>
</div>
{%url "forum:reply" post.id as url%}
{%include "forum/post_form_include.html" with title=_('Your answer') message_form=reply_form action=url post=post %}
{%endwith%}
{%include "forum/post_confirm_delete.html" %}
{% endblock %}
