{% extends "cm_main/base.html" %}
{% load i18n cm_tags crispy_forms_tags static %}
{% block header %}
	{%include "cm_main/common/include-summernote.html" with maxsize=settings.MESSAGE_MAX_SIZE %}
	<script src="{% static 'forum/js/forum.js' %}"></script>
{%endblock%}
{% block title %}{% title _("Post") %}{% endblock %}
{% block content %}
{%with message=post.first_message %}
	{%if nreplies > 0%}
		{%blocktranslate asvar trans_nreplies count nreplies=post.message_set.count|add:-1 trimmed %}
			{{nreplies}} answer
			{%plural%}
			{{nreplies}} answers
			{%endblocktranslate%}
	{%else%}
		{%trans 'No answer' as trans_nreplies%}
	{%endif%}


<div class="container mt-5 px-2">
	<div class="level">
		<div class="level-left">
			<div class="title is-2">{{post.title}}</div>
		</div>
		<div class="level-item">
			<figure class="image mini-avatar mr-2 is-flex is-align-items-center is-justify-content-center">
				<img class="is-rounded" src="{{message.author.avatar_mini_url}}" alt="message.author.get_full_name">
			</figure>
			<div class="has-text-primary has-text-weight-bold has-text-centered mr-5">
				{{message.author.get_full_name}}
				<a href="{%url 'members:detail' message.author.id %}">
					{%icon "member-link" %}
				</a>
				<br>
				<span class="is-size-7">{{post.first_message.date|date:"DATETIME_FORMAT"}}</span>
				<br>
				<span class="tag" id="nb-replies-id1">{{trans_nreplies}}</span>
				{%include "cm_main/followers/followers-count-tag.html" with followed_object=post %}
			</div>
		</div>
		<div class="level-right is-flex-shrink-1">
			{% if post.first_message.author.username == user.username %}
			<div class="buttons">
				<a class="button" href="{% url 'forum:edit' post.id %}" title="{%trans 'Edit' %}">
					{%icon "edit" %}
				</a>
				<button class="button js-modal-trigger" data-target="delete-item-modal" title="{%trans 'Delete' %}">
					{%icon "delete" %}
				</button>
			</div>
			{%else%}
				{%url 'forum:toggle_follow' post.id as toggle_follow_url %}
				{%include "cm_main/followers/toggle-follow-button.html" with followed_object=post %}
			{%endif%}
		</div>
	</div>
	<div class="container px-2">
		{% autoescape off %}{{message.content}}{%endautoescape%}
	</div>
</div>
{%include "forum/comment_list.html" with message=message%}
<hr>
<div class="container px-2">
	<p class="tag is-medium mb-4" id="nb-replies-id2">
		{{trans_nreplies}}
		{%if nreplies > 0 %}
			{%paginate page%}
		{%endif%}
	</p>

	{%for reply in page.object_list %}
	<div class="container has-text-left" id="reply-div-{{reply.id}}">
		<hr>
		<div class="block" id="reply-level-{{reply.id}}">
			<span id="reply-content-{{reply.id}}">{% autoescape off %}{{reply.content}}{%endautoescape%}</span>
			<div class="level">
				<div class="level-left">
					<p class="content is-small">
						{{reply.author.get_full_name}}
						<a href="{%url 'members:detail' reply.author.id %}">
							{%icon "member-link" %}
						</a>
						<br>
						{{reply.date}}
					</p>
				</div>
				{% if reply.author.username == user.username %}
				<div class="level-right">
					<div class="buttons">
						<a class="button" onclick="show_edit_reply_form('{{reply.id}}')" title="{%trans 'Edit' %}">
							{%icon "edit" %}
						</a>
						{% url 'forum:delete_reply' reply.id as delete_reply_url %}
						<a class="button" onclick="delete_reply('{{delete_reply_url}}', '{{reply.id}}')" title="{%trans 'Delete' %}">
							{%icon "delete" %}
						</a>
					</div>
				</div>
				{%endif%}
			</div>
		</div>
		<form method="POST" class="reply-form" id='edit-reply-{{reply.id}}'>
			{% csrf_token %}
			<div class="level">
				<div class="level-left is-flex-shrink-3">{{reply_form|crispy}}</div>
				<div class="level-right">
					<div class="buttons">
						<button type="submit" class="button is-dark" title="{%trans 'Update' %}">
							{%icon "send" %}
						</button>
						<button type="reset" class="button" onclick="hide_edit_reply_form('{{reply.id}}')" title="{%trans 'Cancel' %}">
							{%icon "cancel" %}
						</button>
					</div>
				</div>
			</div>
			<script>$(document).ready(()=>{
				ajax_form_action('#edit-reply-{{reply.id}}', "{% url 'forum:edit_reply' reply.id %}", (response)=>{
					hide_edit_reply_form('{{reply.id}}', response.reply_str)
				})
			});</script>
		</form>
	{%include "forum/comment_list.html" with message=reply %}
	</div>
	{%endfor%}
	<hr>
</div>
{%url "forum:reply" post.id as url%}
{%include "forum/post_form_include.html" with title=_('Your answer') message_form=reply_form action=url post=post %}
{%endwith%}

{% trans 'Delete post' as delete_title%}
{% blocktranslate asvar delete_msg with object=post.title trimmed %}
	Are you sure you want to delete "{{ post }}" and all associated replies and comments?
{% endblocktranslate %}
{% url 'forum:delete' post.id as delete_url %}
{%include "cm_main/common/confirm-delete-modal.html" with ays_title=delete_title ays_msg=delete_msg action_url=delete_url expected_value=post.title %}
{% endblock %}
