{% extends "cm_main/base.html" %}
{% load i18n cm_tags %}
{% block title %}{% title _("Latest Posts") %}{% endblock %}
{% block content %}
<div class="container">
	<div class="panel">
		<div class="panel-heading">
			<span>{% title _("Latest Posts") %}</span>
			<span class="has-text-right">
				<a class="button ml-6" href="{%url 'forum:create'%}" title="{% trans 'Create Post' %}">
					<span class="icon"><i class="mdi mdi-24px mdi-plus-box-outline"></i></span>
				</a>
			</span>
		</div>
		<div  id="post_list" style="max-height: 800px; overflow-y: scroll;">
			<div class="panel-block">
				<div class="is-fullwidth" width="100%">{%paginate page%}</div>
			</div>
		{%for post in page.object_list %}
			<div class="panel-block">
				<figure class="image mini-avatar mr-2">
					<img class="is-rounded" src="{{post.first_message.author.avatar_mini_url}}">
				</figure>
				<p class="has-text-primary has-text-weight-bold has-text-right mr-5">
					{{post.first_message.author.get_full_name}}
					<a href="{%url 'members:detail' post.first_message.author.id %}">
						<span class="icon"><i class="mdi mdi-open-in-new"></i></span>
					</a>
					<br>
					<span class="is-size-7">{{post.first_message.date|date:"DATETIME_FORMAT"}}</span>
					<br>
					<span class="tag">{%blocktranslate with nreplies=post.num_messages|add:-1%}{{nreplies}} answers{%endblocktranslate%}</span>
				</p>
				<p class="content">
					<a class="block" href="{%url 'forum:display' post.id%}">
						<span class="subtitle is-5 has-text-weight-bold">{{post.title}}</span><br>
						<span class="subtitle is-6">
							{% autoescape on %}
							{{post.first_message.content|striptags|truncatechars:150 }}...
							{% endautoescape %}
						</span>
					</a>
				</p>
			</div>
		{%endfor%}
		</div>
</div>
{%endblock%}