{% load i18n crispy_forms_tags cm_tags %}
<div class="container">
	<div class="card">
		<header class="card-header">
			{# depending where it is included, we must use has-text-centered or is-centered #}
			<p class="card-header-title has-text-centered is-centered">{% title title %}</p>
		</header>
		<form method="post" {%if action%}action="{{action}}"{%endif%}>
			{% csrf_token %}
			<section class="card-content">
					{{ post_form | crispy}}
					{{ message_form | crispy}}
			</section>
			<footer class="card-footer">
				<div class="buttons mx-auto">
					<button type="submit" class="button is-dark">
						{%icon "send" %} <span>{%translate "Send" %}</span>
					</button>
					<a type="reset" class="button" aria-label="close" 
						href="{%if post%}{%url 'forum:display' post.id %}{%else%}{%url 'forum:list'%}{%endif%}">
						{%icon "cancel" %} <span>{%translate "Cancel" %}</span>
					</a>
				</div>
			</footer>
		</form>
	</div>
</div>
