{% extends "cm_main/base.html" %}
{% load i18n cm_tags %}
{% block title %}{% title _("Latest Posts") %}{% endblock %}
{% block content %}
<div class="container">
	<div class="level">
		<div class="level-left title is-3">{% title _("Latest Posts") %}</div>
		<div class="level-item">
			{% if page_range|first > 1 %}<button class="button is-light">...</button>{%endif%}
			{% for i in page_range %}
			{% if i != current_page %}
			<a class="button is-primary is-light" href="{%url 'forum:page' i %}" 
				title="{% blocktranslate %}go to page #{{i}}{% endblocktranslate %}">{{i}}</a>
			{%else%}
				<button class="button is-light"	title="{% blocktranslate %}page #{{i}}{% endblocktranslate %}">{{i}}</button>
			{%endif%}
			{% endfor %}
			{% if page_range|last < num_pages %}<button class="button is-light">...</button>{%endif%}
		</div>
	</div>
	
	{%for post in object_list %}
	<div class="level">
		<div class="level-left">
			<a class="block" href="{%url 'forum:display' post.id%}">{{post.title}}</a>
		</div>
		<div class="level-item">
			<div class="tags">
				<p class="tag">
					{{post.first_message.author.get_full_name}}
					<a href="{%url 'members:detail' post.first_message.author.id %}">
						<span class="icon"><i class="mdi mdi-open-in-new"></i></span>
					</a>
				</p>
				<p class="tag">{{post.first_message.date}}</p>
			</div>
		</div>
	</div>
	<hr style="margin:0">
	{%endfor%}
</div>
{%endblock%}