{% extends "cm_main/base.html" %}
{%load i18n crispy_forms_tags cm_tags polls_tags static %}
{% block title %}
	{%if form.instance.pk%}
		{% title _("Update Event Planner") %}
	{%else%}
		{% title _("Create Event Planner") %}
	{%endif%}
{% endblock %}
{%block header%}
{%include "cm_main/common/include-bulma-calendar.html" %}
<script src="{% static 'cm_main/js/cm_modal.js' %}"></script>
<script src="{% static 'polls/js/polls.js' %}"></script>
{%endblock%}
{% block content %}
<div class="container mt-5 px-2">
	<h1 class="title has-text-centered">
	{%if form.instance.pk%}
		{% title _("Update Event Planner") %}
	{%else%}
		{% title _("Create Event Planner") %}
	{%endif%}
	</h1>
	<form method="post">
		{% csrf_token %}
		{{ form|crispy }}
		<div class="buttons is-centered">
			<button type="submit" class="button is-dark">
				{%if form.instance.pk %}
					{%icon "update"%} <span>{%trans "Update Event Planner"%}</span>
				{%else%}
					{%icon "create"%} <span>{%trans "Create Event Planner"%}</span>
				{%endif%}
			</button>
			{%if form.instance.pk%}
			{% autoescape off %}
				{%trans "Delete Event Planner" as delete_title %}
				{%blocktranslate asvar delete_msg with title=form.instance.title|escape%}Are you sure you want to delete the event planner "{{title}}"?{%endblocktranslate%}
				{%url "polls:delete_event_planner" form.instance.pk as delete_url%}
				{%include "cm_main/common/confirm-delete-modal.html" with ays_title=delete_title button_text=delete_title ays_msg=delete_msg|force_escape delete_url=delete_url expected_value=form.instance.title|escape %}
				{% endautoescape %}
			{%endif%}
		</div>
	</form>
	<nav class="panel mt-5" id="event-planner-questions">
		<p class="panel-heading">{%trans "Event Planner Questions" %}</p>
		{%if form.instance.pk%}
		{% for question in form.instance.get_questions %}
		<div class="panel-block" id="question-{{question.id}}">
			{%icon question.question_type|question_icon %}
			{{question.question_text}}
			<button class="button ml-auto	is-small js-modal-trigger"
				type="button"
				id="js-modal-update-question-{{question.id}}"
				data-target="upsert-question-modal"
				data-id="{{question.id}}"
				data-action="{% url 'polls:update_question' form.instance.pk question.id%}"
				data-title='{%trans "Update Question"%}'
				data-form='{{question_form|crispy}}'
				data-get-url="{% url 'polls:question_detail' question.id %}"
				data-init-function='fillQuestion'
				data-kind="update"
				data-no-warning="true"
			>
				{%icon "edit"%}
			</button>
			{%with qid=question.id|stringformat:"s"%}{%with bid='js-modal-delete-question-'|add:qid%}
			{% autoescape off %}
				{%trans "Delete Question" as delete_question_title %}
				{%blocktranslate asvar delete_question_msg with title=question.question_text|escape trimmed%}
					Are you sure you want to delete the question "{{title}}"?
				{%endblocktranslate%}
				{%url "polls:delete_question" question.id as delete_question_url%}
				{%include "cm_main/common/confirm-delete-modal.html" with button_id=bid ays_title=delete_question_title button_text='' button_class='is-small' ays_msg=delete_question_msg|force_escape delete_url=delete_question_url %}
			{% endautoescape %}
			{% endwith %}{% endwith %}
		</div>
		{% empty %}
		<div id="no-question-for-this-poll" class="panel-block">No questions linked to this poll.</div>
		{% endfor %}
		{%endif%}
		{%if form.instance.pk%}
		<div class="panel-block" id="add-question-button">
			<button class="button is-link is-outlined is-fullwidth js-modal-trigger"
						type="button"
						id="js-modal-add-question"
						data-target="upsert-question-modal"
						data-action="{% url 'polls:add_question' form.instance.pk%}"
						data-title='{%trans "New Question"%}'
						data-form='{{question_form|crispy}}'
						data-init-function='fillQuestion'
						data-kind="create"
						>
				{%icon "edit" %}
				<span class="ml-2">{%trans "Add Question" %}</span>
			</button>
		</div>
		{% include "cm_main/common/modal_form.html" with modal_id="upsert-question-modal"%}
		{% include "cm_main/common/modal_form.html" with modal_id="delete-item-modal"%}
		{%else%}
		<p>{%trans "Save the event planner to add questions."%}</p>
		{%endif%}
	</nav>
</div>
{% endblock %}
