{% extends "cm_main/base.html" %}
{%load i18n crispy_forms_tags cm_tags polls_tags static %}
{% block title %}
	{%if form.instance.pk%}
		{% title _("Update Poll") %}
	{%else%}
		{% title _("Create Poll") %}
	{%endif%}
{% endblock %}
{%block header%}
{%include "cm_main/common/include-bulma-calendar.html" %}
<script src="{% static 'polls/js/polls.js' %}"></script>
{%endblock%}
{% block content %}
{% with poll_id=form.instance.pk %}
<div class="container mt-5 px-2">
	<h1 class="title has-text-centered">
	{%if poll_id%}
		{% title _("Update Poll") %}
	{%else%}
		{% title _("Create Poll") %}
	{%endif%}
	</h1>
	<form method="post">
		{% csrf_token %}
		{{ form|crispy }}
		<div class="buttons is-centered">
			<button type="submit" class="button is-dark">
				{%if form.instance.pk %}
					{%icon "update"%} <span>{%trans "Update Poll"%}</span>
				{%else%}
					{%icon "create"%} <span>{%trans "Create Poll"%}</span>
				{%endif%}
			</button>
			{%if poll_id%}
				{%url "polls:delete_poll" poll_id as delete_poll_url%}
				{%trans "Delete Poll" as button_text %}
				{%include "cm_main/common/confirm-delete-modal-htmx.html#show_delete_button" with button_text=button_text delete_url=delete_poll_url %}
			{%endif%}
		</div>
	</form>
	<nav class="panel mt-5" id="poll-questions">
		<p class="panel-heading">{%trans "Poll Questions" %}</p>
	{%if poll_id%}
		{% for question in form.instance.questions.all %}
		<div class="panel-block" id="question-{{question.id}}">
			{%icon question.question_type|question_icon %}
			{{question.question_text}}
			<button class="button ml-auto	is-small"
				type="button"
				hx-target="#modal"
				hx-get="{% url 'polls:update_question' question.id%}"
				hx-swap="innerHTML"
				title="{% trans 'Update Question' %}"			>
				{%icon "edit"%}
			</button>
			{%url "polls:delete_question" question.id as delete_question_url%}
			{%include "cm_main/common/confirm-delete-modal-htmx.html#show_delete_button" with button_text='' button_class='is-small' delete_url=delete_question_url %}
		</div>
		{% empty %}
		<div id="no-question-for-this-poll" class="panel-block">No questions linked to this poll.</div>
		{% endfor %}
		<div class="panel-block" id="add-question-button">
			<button class="button is-link is-outlined is-fullwidth"
							type="button"
							hx-target="#modal"
							hx-get="{% url 'polls:add_question' poll_id%}"
							hx-swap="innerHTML"
							title="{% trans 'Add Question' %}"			>
				{%icon "new" %}
				<span class="ml-2">{%trans "Add Question" %}</span>
			</button>
		</div>
	{%else%}
		<p>{%trans "Save the poll to add questions."%}</p>
	{%endif%}
	</nav>
</div>
{% endwith %}
{% endblock %}
