{% extends 'cm_main/base.html' %}
{% load i18n cm_tags polls_tags %}
{% block title %}
	{%if type == "poll"%}
		{%title _("Poll Detail") %}
	{%else%}
		{%title _("Event Planner Detail") %}
	{%endif%}
{% endblock %}
{% block content %}
<div class="container">
	<div class="card">
		<div class="card-header has-background-light is-flex is-align-items-center is-justify-content-center">
			<span class="is-flex-grow-1 has-text-centered title mt-5">
			{%if type == "poll"%}
				{%title _("Poll Detail") %}
			{%else%}
				{%title _("Event Planner Detail") %}
			{%endif%}
			</span>
			{%with _("Back to Polls") as back_label%}
			<a class="button is-link" href="{%url 'polls:list_polls'%}" aria-label="{{back_label}}" title="{{back_label}}">
				{%icon "back"%} <span class="is-hidden-mobile">{{back_label}}</span>
			</a>
			{%endwith%}
		</div>
		<div class="card-content">
			{%include "polls/poll_info.html" with direction="horizontal"%}
			{% now "YmdHi" as now_str %}
			{%with pub_date_str=poll.pub_date|date:"YmdHi" close_date_str=poll.close_date|date:"YmdHi" %}
			{%if pub_date_str > now_str %} {# future poll #}
			<div class="panel">
				<div class="panel-heading is-flex is-align-items-center is-justify-content-center">
					<span class="has-text-centered">{%trans "Questions"%}</span>
				</div>
				{% for qa in questions %}
				<div class="panel-block">
					{%icon qa.question.question_type|question_icon %} {{qa.question.question_text}}
				</div>
				{% endfor %}
			</div>
			{%else %}
			<h2 class="title is-size-4 has-text-centered">
				{%if close_date_str < now_str %}
					{%trans "Final results"%}
				{%else %}
					{%trans "Temporary results"%}
				{%endif%}
			</h2>
			<div class="fixed-grid has-8-cols">
				<div class="grid">
					<div class="cell has-text-centered my-auto has-background-primary is-col-span-3">{%trans "Question"%}</div>
					<div class="cell has-text-centered my-auto has-background-primary">{%trans "Total answers"%}</div>
					<div class="cell has-text-centered my-auto has-background-primary is-col-span-2">{%trans "My vote"%}</div>
					<div class="cell has-text-centered my-auto has-background-primary is-col-span-2">{%trans "Results"%}</div>
					{% for qa in questions %}
					<div class="cell has-text-centered my-auto has-background-link has-text-light is-col-span-3">
						{%icon qa.question.question_type|question_icon %} {{qa.question.question_text}}
					</div>
					<div class="cell has-text-centered my-auto">
						{{qa.total_answers}}
					</div>
					<div class="cell has-text-centered my-auto is-col-span-2">
						{{qa.user_answer}}
					</div>
					<div class="cell has-text-centered my-auto is-col-span-2">
						{%for result in qa.result%}
							{{result}}<br>
						{%endfor%}
					</div>
					{% endfor %}
				</div>
			</div>
			{%endif%}
			{%endwith%}
		</div>
		<div class="card-footer is-flex is-align-items-center is-justify-content-center">
			{%with _("Vote") as vote_label%}
			{%if type == "poll"%}
				{%url 'polls:vote_poll' poll.id as vote_url%}
			{%else%}
				{%url 'polls:event_planner_vote' poll.id as vote_url%}
			{%endif%}
			<a class="button is-primary" href="{{vote_url}}" aria-label="{{ vote_label}}" title="{{ vote_label}}">
				{%icon "vote"%} <span class="is-hidden-mobile">{{ vote_label}}</span>
			</a>
			{%endwith%}
			{%if poll.owner == request.user%}
			{%with _("Update") as update_label%}
			{%if type == "poll"%}
				{%url 'polls:update_poll' poll.id as update_url%}
			{%else%}
				{%url 'polls:update_event_planner' poll.id as update_url%}
			{%endif%}
			<a class="button is-link ml-2" href="{{update_url}}" aria-label="{{update_label}}" title="{{update_label}}">
				{%icon "update-poll" %} <span class="is-hidden-mobile ml-3">{{update_label}}</span>
			</a>
			{%endwith%}
			{%endif%}
		</div>
	</div>
</div>
{% endblock %}

