{% extends "cm_main/base.html" %}
{%load i18n cm_tags%}

{% block title %}{% title _("Latest Polls") %}{% endblock %}
{% block content %}
{% trans 'Add a new poll' as create_label %}
<div class="container">
  <div class="panel">
    <div class="panel-heading is-flex is-align-items-center is-justify-content-center">
      <span class="is-flex-grow-1 has-text-centered">{% title _("Latest Polls") %}</span>
      <a class="button ml-6" href="{%url 'polls:create_poll'%}" aria-label="{{create_label}}" title="{{create_label}}">
        {%icon "new-poll" %} <span class="is-hidden-mobile ml-3">{{create_label}}</span>
      </a>
    </div>
    <!-- <div class="panel-block is-flex is-align-items-center is-justify-content-center">
      {#paginate page#}
    </div> -->
    {% for poll in polls_list %}
    <div class="panel-block">
      <a class="subtitle is-size-5" href="{% url 'polls:poll_detail' poll.id %}">{%icon "vote"%} {{ poll.title }}</a> 
      <span class="ml-auto is-size-7">({%trans "Created at"%}:<span class="tag">{{ poll.created_at|date:"SHORT_DATE_FORMAT" }}</span> 
        {%trans "Published at"%}: <span class="tag">{{ poll.pub_date|date:"SHORT_DATE_FORMAT" }}</span>, 
        {%trans "Closed at"%}: <span class="tag">{{ poll.close_date|date:"SHORT_DATE_FORMAT" }}</span>)</span>
      <div class="is-grouped ml-auto">
        <a class="button is-primary is-responsive" aria-label="{%trans 'Vote'%}"
          href="{%url 'polls:vote' poll.id%}" 
          title="{%trans 'Vote'%}">
          {%icon "vote"%} <span class="is-hidden-mobile">{%trans "Vote"%}</span>
        </a>
        {%if request.user == poll.owner%}
        <a class="button is-link is-responsive" aria-label="{%trans 'Update'%}"
          href="{%url 'polls:update_poll' poll.id%}" 
          title="{%trans 'Update'%}">
          {%icon "update-poll"%} <span class="is-hidden-mobile">{%trans "Update"%}</span>
        </a>
        {%endif%}
      </div>
    </div>
    {%empty%}
    <div class="panel-block">{%trans "Sorry, there are currently no polls available."%}</div>
    {% endfor %}
  </div>
</div>
{% endblock %}