{% extends "cm_main/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
    {# TODO: add a captcha #}
    <div class="box">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="container">
                <legend class="title is-3">{% translate "Password Change" %}</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="container">
                <button class="button is-primary" type="submit">{% translate "Change password" %}</button>
            </div>
        </form>
        <div class="container is-small">
            {% translate "Password Forgotten?" %}
            <a class="is-2" href="{% url 'reset_password' %}">{% translate "Reset password" %}</a>
        </div>
    </div>
{% endblock content %}
