{% extends "cm_main/base.html" %}
{% load i18n crispy_forms_tags cm_tags %}
{% block title %}{% title _("Request New Email for Verification") %}{% endblock %}
{%block content%}

<div class="container">
    <h1 class="title">{% title _("Request New Email for Verification") %}</h1>
    <hr/>
    <form method='POST' >
        {% csrf_token %}

        <fieldset>
            {{form | crispy}}
        </fieldset>
        <div class="container mt-4">
            <button class="button is-primary" type="submit">{% translate "Request New Email" %} </button>
        </div>
    </form>

</div>

{% endblock %}
