body {
	font-size: 20px;
}

/* RELATED WIDGET WRAPPER */
.related-widget-wrapper {
  display: flex;
  gap: 0 10px;
  flex-grow: 1;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.captchaanswerinput {
  margin-left: 5px;
  margin-bottom: 15px;
}