.photo-div {
  position: relative;
  display: inline-block;
  width: fit-content;
  margin: auto;
}
.delete-photo {
	position: absolute;
	top: 0.5em; /*var(--bulma-delete-dimensions);*/
	right: 0.5em;
	z-index: 10;
}
