{%comment%}
This is a generic delete modal form and triggering button.
The template must be included only once per page. 
The delete button is shown where the template is included and displays {{button_text}} as text
The dialog box shows an {{ays_title}} and an {{ays_msg}}. (ays=are you sure)
If {{expected_value}} is empty, only a message is shown and a confirm button is enough
otherwise, a form is added and the user must fill an input text with the given
{{expected_value}} before being able to click on confirm. In case of confirmation, {{delete_url}} is triggered.
Example:
{%include "cm_main/common/confirm-delete-modal.html" with ays_title="Delete Member" button_text="Delete Member" ays_msg="Are you sure you want to delete this member?" expected_value=member.first_name delete_url=delete_url%}
{%include "cm_main/common/modal_form.html" with modal_id="delete-item-modal"%}

{%endcomment%}

{% load i18n cm_tags%}
<button class="button js-modal-trigger {{button_class}}"
	id="js-modal-delete-item"
	data-target="delete-item-modal"
	data-title="{{ays_title}}"
	data-warning-msg="{{ays_msg}}"
	data-kind="delete"
	{%if not expected_value %} {# soft confirmation: no field to be filled by the user #}
	data-form='<div class="field is-grouped is-grouped-centered">
		<p class="control">
			<a class="control button is-danger" href="{{delete_url}}">
			{%translate "Confirm" %}
			</a>
		</p>
		<p class="control">
			<a type="reset" class="control button is-light" aria-label="close">{%trans "Cancel" %}</a>
		</p>
	</div>'
	data-action=""
	{%else%} {# hard confirmation: add a field to be filled by the user to confirm #}
	{%trans 'Mandatory. Deletion will not be possible until the correct value is entered.' as deletion_confirmation_helptext%}
	{%with red_expected_value='<span class="has-text-danger">'|add:expected_value|add:'</span>' %}
		{%blocktranslate with expected_value=red_expected_value asvar warning_expected_value trimmed%}
		Enter {{expected_value}}</span> in the field below before pressing confirm
		{%endblocktranslate%}
	data-action="{{delete_url}}"
	data-init-function="init_delete_form"
	data-warning-msg="{%autoescape off%}{{ays_msg|force_escape}}{%endautoescape%}"
	data-form='<div class="field">
		{%autoescape off%}
		<label class="label">{{warning_expected_value|escape}}:</label>
		{%endautoescape%}
		<div class="control">
			<input type="text" id="deletion_confirmation_input" name="confirmation_check" 
				value="" maxlength="150" class="input" required="" aria-describedby="deletion_confirmation_helptext"
			>
		</div>
		<span id="confirmation_validation_span" class="has-text-danger"></span>
		<p id="deletion_confirmation_helptext" class="help">{{deletion_confirmation_helptext|escape}}</p>
	</div>'
	{%endwith%}
	{%endif%}
	>
	{%icon "delete" %}{%if button_text %}<span class="ml-2">{{button_text}}</span>{%endif%}
</button>
{%if expected_value %}
<script>
	var $modal;
	var $modal_input;
	var $submit_button;
	var $helptext;

	function enableDeletion() {
		if ( $modal_input.val() == "{{expected_value}}" ) {
			$submit_button.prop('disabled', false);
			$helptext.text(gettext("Deletion possible..."))
		} else {
			$submit_button.prop('disabled', true);
			$helptext.text('{{deletion_confirmation_helptext}}')
		}
	}
	function init_delete_form() {
		if (!$modal_input) {
			$modal = $("#delete-item-modal");
			$modal_input = $modal.find("#deletion_confirmation_input");
			$submit_button = $modal.find('.modal-card-foot button[type="submit"]');
			$helptext = $modal.find("#deletion_confirmation_helptext");
		}
		$modal_input.val('')
		$modal_input.on('keyup', enableDeletion);
		$submit_button.prop('disabled', true);
	}
</script>
{%endif%}
