{% load static i18n cm_tags %}
<!-- include summernote lite css/js -->
<link	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/summernote@0.9.1/dist/summernote-lite.min.css"
	integrity="sha384-ujmZ40iFsxEHUq6QCcxwjfGi1W9lk9SkvB4Kz6ZCDGh5G1LF41x7qOfDJnBo82CS"
	crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.9.1/dist/summernote-lite.min.js"
	integrity="sha384-PIcWJ29rkVSUGtsk8A9iQDkUN50LgPkoQkzKDBEgwZsyiCnqx/L7Y3JHT+aeKw86"
	crossorigin="anonymous"></script>
{# can't add SRI to this one as it is dynamic #}
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/lang/summernote-{%normalized_language_code%}.min.js"></script>
{%trans "Toggle Note Editor Toolbar" as trtoggle%}
{%trans "Remaining characters:" as trchar%}
{% get_current_language as LANGUAGE_CODE %}
<script>
	maxsize=('{{maxsize}}' == '' ? '{{settings.DATA_UPLOAD_MAX_MEMORY_SIZE}}' : '{{maxsize}}');
	summernoteMaxSize = parseInt(maxsize);
	// alert('summernoteMaxSize='+summernoteMaxSize);
	function init_summernote(container) {
		$(container).find('.richtextarea').not('.summernote-initialized').each(function() {
			var $elem = $(this); // the textarea is not the editor, but a masqued textarea
			var $countDisplay = null;
			$elem.summernote({
				lang: '{{LANGUAGE_CODE}}',
				callbacks: {
					onInit: function () {
						var remaining = summernoteMaxSize - $elem.summernote('code').length;
						$elem.addClass('summernote-initialized');
						$elem.before(`
<button class="button" id="toggle-note-editor-toolbar" title="{{trtoggle}}">
	{%icon "menu-open" %}
</button>
						`).parent().append(`
<p class="is-size-6 has-text-right">{{trchar}} <span class="has-text-right"><span class="char-count">${remaining}</span> / ${summernoteMaxSize}</span></p>
						`);
						$countDisplay = $elem.parent().find('.char-count');
						$countDisplay.text(remaining);
						$elem.parent().find('#toggle-note-editor-toolbar').on('click', function(e) {
							e.preventDefault();
							$(this).find('.note-editor > .note-toolbar').toggle(300);
							$icon = $(this).find('i')
							$icon.toggleClass('mdi-menu-open').toggleClass('mdi-menu-close');
						});
					},
					onKeydown: function (e) { 
						var t = e.currentTarget.innerHTML;
						if (t.length >= summernoteMaxSize) {
							// Allow : Backspace (8), Delete (46), Arrows (37-40), Copy (67), Cut (88)
							var allowedKeys = [8, 37, 38, 39, 40, 46, 67, 88];
							if ($.inArray(e.keyCode, allowedKeys) === -1) {
								// not in allowedKeys, block event
								e.preventDefault();
							}
						}  
					},
					onPaste: function (e) {
						var t = e.currentTarget.innerHTML;
						var bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');
						e.preventDefault();
						var remaining = summernoteMaxSize - t.length;
						var maxPaste = Math.min(bufferText.length, remaining);
						if(maxPaste > 0){
							document.execCommand('insertText', false, bufferText.substring(0, maxPaste));
						}
						$countDisplay.text(remaining-maxPaste);
					},
					onChange: function(content) {  // content string after change
						remaining = summernoteMaxSize - content.length;
						$countDisplay.text(remaining);
						if (remaining <= 10) {
							alert(gettext("Max size reached!"));
							$countDisplay.addClass('has-background-danger');
						} else {
							$countDisplay.removeClass('has-background-danger');
						}
					},
				}
			})
		});
	}

	$(document).ready(function() {
		init_summernote(document);
	});
	$(document).on('htmx:load', function(evt) {
		init_summernote(evt.detail.elt);
	});
</script>
<style>
	@media (max-width: 768px) {
			.note-editor > .note-toolbar {
					display: none;
			}
			#toggle-note-editor-toolbar {
					display: block;
			}
	}
	@media (min-width: 769px) {
			#toggle-note-editor-toolbar {
					display: none;
			}
	}
</style>
