{% load i18n cm_tags %}
<script>
	function goto_page_url(url, fullscreen=false) {
		new_location = url
		next_par = '?'
		if (fullscreen) {
			new_location += '?fullscreen=true'
			next_par = '&'
		}
		{%if not no_per_page%}
		new_location += next_par + 'page_size=' + $('#page_size').val()
		{%endif%}
		window.location = new_location
	}
	function get_prev_page_url() {
		return '{%if prev_page_url%}{{prev_page_url}}{%endif%}'
	}
	function get_next_page_url() {
		return '{%if next_page_url%}{{next_page_url}}{%endif%}'
	}
</script>
{%with page_first=page_range|first page_last=page_range|last%}
<nav class="pagination mx-3 is-flex-grow-1" aria-label="pagination" role="pagination">
	
	{% if not no_per_page%}
	<div class="pagination-previous" style="box-shadow: unset; border-style: hidden;">
		<label class="mr-3">{% translate "Items per page:" %}</label>
		<form>
			<div class="select">
				<select id="page_size" name="page_size" onchange="this.form.submit()">
				{%for per_page in possible_per_pages %}
					<option value="{{per_page}}" {%if per_page == page_size %}selected{%endif%}>{{per_page}}</option>
				{%endfor%}
				</select>
			</div>
		</form>
	</div>
	{%endif%}
	<a class="pagination-previous" 
		{% if prev_page_url %} onclick="goto_page_url('{{prev_page_url}}')"{% else %}is-disabled{%endif%}>
		{%icon "pagination-previous" %}
	</a>
	
	<ul class="pagination-list">
		{% if page_first > 1 %}
		<li>
			<a class="pagination-link" onclick="goto_page_url('{{first_page_url}}')" title="{% trans 'go to first page'%}">1</a>
		</li>
		{%endif%}
		{% if page_first > 2 %}
		<li><span class="pagination-ellipsis">&hellip;</span></li>
		{%endif%}
		{% for url in page_urls %}
		{%with page_num=forloop.counter|add:page_first|add:-1%}
		<li>
			<a onclick="goto_page_url('{{url}}')" 
			{% if page_num != current_page %}
				class="pagination-link" 
				title="{% blocktranslate %}go to page #{{page_num}}{% endblocktranslate %}"
			{%else%}
				class="pagination-link is-current"
				title="{% blocktranslate %}page #{{page_num}}{% endblocktranslate %}"
				aria-current="page"
			{%endif%}
			>{{page_num}}</a>
		</li>
		{%endwith%}
		{%endfor%}
		{% if page_range|last < num_pages %}
			{%with num_pages_1=num_pages|add:-1 %}
			{% if page_range|last < num_pages_1 %}
			<li><span class="pagination-ellipsis">&hellip;</span></li>
			{%endif%}
			<li>
				<a class="pagination-link" onclick="goto_page_url('{{last_page_url}}')" title="{% trans 'go to last page'%}">{{num_pages}}</a>
			</li>
			{%endwith%}
		{%endif%}
	</ul>
	<a class="pagination-next" 
		{% if next_page_url %} onclick="goto_page_url('{{next_page_url}}')"{% else %}is-disabled{%endif%}>
		{%icon "pagination-next" %}
	</a>
{%endwith%}	
</nav>
