{%load cm_tags%}
<div class="control icon-radio-group">
	<div class="toggle-container">
		{%for option_n in "12"%}
		  {%with option="option"|add:option_n %}
			<label>
					<input type="radio" name="{{choice_name}}" value="{{option}}" 
						{%if selected == option %}checked{%endif%} 
						{%if on_change%}onchange="{{on_change}}"{%endif%}>
					{%if option_n == "1" %}{%icon icon1 clazz="is-small" %}{%else%}{%icon icon2 clazz="is-small" %}{%endif%}
			</label>
		  {%endwith%}
		{%endfor%}
	</div>
</div>
