/* This is the place where you can customize your theme. */
/* See https://github.com/leolivier/cousins-matter/wiki/Customization#themes */
/*Example of Bulma theme*/
/*
:root {
	--bulma-body-font-size: 16px;
	--bulma-primary-h: 155deg !important;
	--bulma-primary-s: 80% !important;
  --bulma-primary-l: 37% !important;
}
*/