{% extends "members/base_members.html" %}
{% load i18n crispy_forms_tags cm_tags %}
{% block title %}{% title _("Edit Address") %}{% endblock %}
{% block content %}
<div class="container">
	<div class="card">
		<header class="card-header">
			<p class="card-header-title">{% title _("Edit Address") %}</p>
		</header>
		<form method="post">
			{% csrf_token %}
			<section class="card-content">
					{{ form | crispy}}
			</section>
			<footer class="card-footer">
				<div class="buttons">
					<button type="submit" class="button is-primary">{%translate "Submit" %}</button>
					<button type="reset" class="button" aria-label="close">{%translate "Cancel" %}</button>
				</div>
			</footer>
		</form>
	</div>
</div>
{% endblock %}
