{% extends "members/base_members.html" %}
{% load i18n cm_tags %}
{% block title %}{% title _("Members Directory") %}{% endblock %}
{% block content %}
<div class="container">
	<div class="media">
		<div class="media-left"></div>
		<div class="media-content">
			<h1 class="title">{% title _("Members Directory") %}</h1>
			<hr/>
		</div>
		<div class="media-right">
			<a class="button is-primary" href="{% url 'members:print_directory' %}">
				{% translate "Print as PDF" %}
			</a>
		</div>
	</div>
  {% if member_list %}
	<table class="table">
		<tr>
			<th class="has-background-light-link has-text-primary is-size-4 has-text-centered">{% translate "Name" %}</th>
			<th class="has-background-light-link has-text-primary is-size-4 has-text-centered">{% translate "Birthdate" %}</th>
			<th class="has-background-light-link has-text-primary is-size-4 has-text-centered">{% translate "Phone" %}</th>
			<th class="has-background-light-link has-text-primary is-size-4 has-text-centered">{% translate "Email" %}</th>
			<th class="has-background-light-link has-text-primary is-size-4 has-text-centered">{% translate "Address" %}</th>
		</tr>
    {% for member in member_list %}
		<tr>
      <td class="has-text-centered">
        <a class="button is-link is-light" href="{% url 'members:detail' member.id %}">
          <strong>{{ member.get_full_name }}</strong>
        </a>
      </td>
			<td class="has-text-centered">{{ member.birthdate | date }}</td>
			<td class="has-text-centered">{{ member.phone }}</td>
			<td class="has-text-centered">{{ member.email }}</td>
			<td class="has-text-centered">{%if member.address %}{{ member.address }}{% endif %}</td>
		</tr>
    {% endfor %}
	</table>
  {% else %}
	<div>
    <p>{% translate "No members found" %}.</p>
	</div>
  {% endif %}
</div>
{% endblock %}