{% extends "members/base_members.html" %}
{% load i18n crispy_forms_tags %}
{% block title %}{%translate "Cousins Matter - Detail" %} {% endblock %}
{% block content %}
	<h1 class="title has-text-centered is-1">
		{% if mode == "create_managed" %}
			{% translate "Create Member" %}
		{% elif mode == "signup" %}
			{% translate "Sign Up" %}
		{% elif mode == "profile" %}
			{% translate "My Profile" %}
		{% elif mode == "update_managed" %}
			{% translate "Update Member Details" %}
		{% elif mode == "show_details" %}
			{% translate "Member Details" %}
		{% else %}
			{{mode}} {% translate "Unknown mode. Something went wrong!" %}
		{% endif %}
	</h1>
	<div class="media">
		{% if m_form.instance %}
    <figure class="media-left">
      <p class="image is-128x128">
        <img class="is-rounded" src="{{ m_form.instance.avatar.url }}">
      </p>
    </figure>
		{% endif %}
		{% if u_form.instance %}
    <div class="media-content">
      <p class="content"><strong>{{ u_form.instance.first_name }} {{ u_form.instance.last_name }}</strong>
			{%if u_form.instance.email %}<small>&lt;{{ u_form.instance.email }}&gt;</small></p>{% endif %}
			{%if u_form.instance.is_active %}
				{% translate "Active member" %}
			{% else %}
				{% translate "Managed member" %}
			{% endif %}
    </div>
		{% endif %}
		{% if mode == "profile" %}
    <div class="media-right">
      <a class="button is-link" href="{% url 'accounts:change_password' %}">{% translate "Change Password" %}</a>
    </div>
		{% endif %}
  </div>
	<div class="container">
		<form method="post">
		{% csrf_token %}
			
		{% if read_only %}
			<fieldset disabled="disabled">
				{{ u_form | crispy }}
				{{ m_form | crispy }}
			</fieldset>
			{% if managing_account_name %}
			<p class="content mt-4">
				<a class="button is-primary is-light" style="pointer-events: none">{% translate "Submit" %}</a>
				{% blocktranslate with name=managing_account_name %}(Only {{name}} can manage this member){% endblocktranslate %}
			</p>
			{% endif %}
		{% else %}
			{{ u_form | crispy }}
			{{ m_form | crispy }}
			<div class="buttons mt-4">
				<input type="submit" class="button is-primary" value='{% translate "Submit" %}'>
				{% if mode == "update_managed" %}
					<a class="button is-warning" href="{% url 'members:activate' pk %}">{% translate "Activate Account" %}</a>
				{% endif %}
			</div>
		{% endif %}
		</form>
	</div>
	<div class="container mt-4">
			{% translate 'Lost your verification email?' %} 
			<a href="{% url 'request-new-link-from-email' %}" class="is-small">
					{% translate "Request a new link" %}
			</a>
	</div>
	
{% endblock %}