{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% translate "CousinsMatter Members" %}</title>
</head>
<body>
{% if member_list %}
	<div>
		<ul>
    {% for member in member_list %}
        <li>
					<a href="{% url 'members:detail' member.id %}">{{ member.first_name }} {{ member.last_name }}</a>
				</li>
    {% endfor %}
    </ul>
	</div>
{% else %}
	<div>
    <p>{% translate "No members found" %}.</p>
	</div>
{% endif %}
</body>
</html>