{% load i18n %}
<div class="modal" id="delete-member-modal">
	<div class="modal-background"></div>
	<div class="modal-card">
		<header class="modal-card-head">
			<p class="modal-card-title">
				{% if form.instance.id == request.user.id %}{# profile removal #}
					{% trans "Delete My Account" %}
				{%else%}{# managed member removal #}
					{% trans "Delete Member" %}
				{%endif%}
			</p>
			<button class="delete" aria-label="close"></button>
		</header>
		<section class="modal-card-body">
			{% if form.instance.id == request.user.id %}{# profile removal #}
				{% trans "Are you sure you want to delete your account and all associated data? This is irrecoverable!" %}
			{%else%}
				{% blocktranslate with name=member.get_full_name %}Are you sure you want to delete {{ name }}'s account and all associated data?{% endblocktranslate %}
			{%endif%}
			</section>
		<footer class="modal-card-foot">
			<div class="container">
				<form method="post" action="{% url 'members:delete' member.id %}" id="delete_member_form">
					{%csrf_token%}
					<div id="div_username" class="field">
						<label class="label">{%autoescape off%}
							{%blocktranslate with username=member.username%}Enter "<span class="has-text-danger">{{username}}</span>" in the field below before pressing confirm{%endblocktranslate%}
							{%endautoescape%}</label>
						<div class="control">
							<input type="text" id="id_username_for_deletion" name="username" value="" maxlength="150" class="input" required="" aria-describedby="id_username_helptext">
						</div>
						<span id="username_validation_span" class="has-text-danger"></span>
						<p id="id_username_helptext" class="help">
							{%trans "Required. The account won't be deleted if the correct name is not entered."%}
						</p>
					</div>
					<div class="field is-grouped is-grouped-centered">
						<p class="control">
							<button type="submit" class="control button is-danger keep-open-on-click">
							{%translate 'Confirm' %}
							</button>
						</p>
						<p class="control">
							<button type="reset" class="control button is-light" aria-label="close">{%trans "Cancel" %}</button>
						</p>
					</div>
				</form>
			</div>
		</footer>
	</div>
</div>
<script>
	$("#delete_member_form").on("submit", (event) => {
		const $username = $("#id_username_for_deletion").val()
		if ( $username === "{{member.username}}" ) {
			$("#username_validation_span").text(gettext("Deletion confirmed...")).show().fadeOut(2000);
			setTimeout(()=>{closeModal($("#delete-member-modal"))}, 3000)
			return;
		}
	 
		$("#username_validation_span").text(gettext("Not valid!")).show().fadeOut(2000);
		event.preventDefault();
	} );
	</script>
 