{% load i18n crispy_forms_tags cm_tags %}
<div class="modal" id="{{ modal_id }}">
	<div class="modal-background"></div>
	<div class="modal-card">
		<header class="modal-card-head">
			<p class="modal-card-title">{%translate title %}</p>
			<button class="delete" aria-label="close"></button>
		</header>
		<form id="{{modal_id}}-form" method="post">
			{% csrf_token %}
			<section class="modal-card-body">
					{{ form | crispy}}
			</section>
			<footer class="modal-card-foot">
				<div class="buttons mx-auto">
					<button type="submit" class="button">
						{%icon "submit" %}
						<span>{%trans action %}</span>
					</button>
					<button type="reset" class="button" aria-label="close">
						{%icon "cancel" %}
						<span></span>{%translate "Cancel" %}</span>
					</button>
				</div>
			</footer>
		</form>
		<script>
		$(document).ready(function () {
			// associate to each modal form created above an ajax processing function
			ajax_form_action('#{{modal_id}}-form', "{{action_url}}", function(response) {
				{{function}}
			});
		});
		</script>
	</div>
</div>