{% load i18n crispy_forms_tags cm_tags %}
<div class="modal" id="{{ modal_id }}">
	<div class="modal-background"></div>
	<div class="modal-card">
		<header class="modal-card-head">
			<p class="modal-card-title">{%translate title %}</p>
			<button class="delete" aria-label="close"></button>
		</header>
		<form id="{{modal_id}}-form" method="post">
			{% csrf_token %}
			<section class="modal-card-body">
				{%if not modal_id|startswith:'create' %}
				<div class="notification is-warning">
					{%trans "WARNING: This element will be modified for all other members using it! Please create a new one if that's not what you want to achieve." %}
				</div>
				{%endif%}
							{{ form | crispy}}
			</section>
			<footer class="modal-card-foot">
				<div class="buttons mx-auto">
				{%if modal_id|startswith:'create' %}
					<button type="submit" class="button is-dark" name="create">
						{%icon "create"%} <span>{%translate "Create" %}</span>
					</button>
				{%else%}
					<button type="submit" class="button is-dark" name="update">
						{%icon "update"%} <span>{%translate "Update" %}</span>
					</button>
				{%endif%}
					<button type="cancel" class="button is-light" name="cancel" aria-label="close">
						{%icon "cancel"%} <span>{%translate "Cancel" %}</span>
					</button>
				</div>
			</footer>
		</form>
		{# associate to each modal form created above an ajax processing function #}
		<script>
		$(document).ready(function () {
			ajax_form_action('#{{modal_id}}-form', "{{action_url}}", function(response) {
				{{function}}
			});
		});
		</script>
	</div>
</div>