{% extends "members/base_members.html" %}
{% load i18n crispy_forms_tags %}
{% block title %}{%translate "Cousins Matter - Request Invitation" %} {% endblock %}
{% block content %}
<div class="container mt-5">
	<h1 class="title">{%translate "Cousins Matter - Request Invitation" %}</h1>
	<hr>
	<p class="content">
		{% translate "By completing and submitting this form, you are asking the site administrator to send you an invitation link."%}
	</p>
	<form method="post">
		{% csrf_token %}
		{{ form | crispy}}
		<p class="content">{% translate "Please fill in the captcha above before clicking the invitation button" %}</p>
		<button type="submit" class="button is-success">{%translate "Invite me" %}</button>
		<button class='js-captcha-refresh'></button>
	</form>
</div>
<script>
	$(document).ready(function () {
		$('.js-captcha-refresh').click(function(){
	    $form = $(this).parents('form');
	    $.getJSON($(this).data('url'), {}, function(json) {
        // This should update your captcha image src and captcha hidden input
  	  });
	    return false;
		});
		$('.captcha').click(function () {
    $.getJSON("/captcha/refresh/", function (result) {
        $('.captcha').attr('src', result['image_url']);
        $('#id_captcha_0').val(result['key'])
    });
});
	});
</script>
{% endblock %}
