{% extends "cm_main/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
    {# TODO: add a captcha #}
    <div class="box">
{% if validlink %}

        <form method="post">
            {% csrf_token %}
            <fieldset class="container">
                <legend class="title is-3">{% translate "Password reset confirmation" %}</legend>
                <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                <input type="hidden" autocomplete="username" value="{{ form.user.get_username }}">
                {{ form|crispy }}
            </fieldset>
            <div class="container">
                <button class="button is-primary" type="submit">{% translate "Change my password" %}</button>
            </div>
        </form>

{% else %}

        <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}
        <div class="container is-small">
            {% translate "Password Not Forgotten?" %}
            <a class="is-2" href="{% url 'users:login' %}">{% translate "Sign in" %}</a>
        </div>
    </div>
{% endblock content %}
