{% extends "cm_main/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-4">
  <div class="media">
    <figure class="media-left">
      <p class="image is-128x128">
        <img class="is-rounded" src="{{ user.profile.image.url }}">
      </p>
    </figure>
    <div class="media-content">
      <p class="content"><strong>{{ user.username }}</strong><small>&lt;{{ user.email }}&gt;</small></p>
    </div>
    <div class="media-right">
      <a class="button is-link" href="{% url 'users:change_password' %}">{% translate "Change Password" %}</a>
    </div>
  </div>
  <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="container">
          <legend class="title is-3">{% translate "Profile Info" %}</legend>
          {{ u_form|crispy }}
          {{ p_form|crispy }}
      </fieldset>
      <div class="container">
          <button class="button is-primary" type="submit">{% translate "Update" %}</button>
      </div>
  </form>
</div>
{% endblock content %}
