{%load menupages_tags%}
{%if sublevels.title%} 
{# sublevels is a Page, we're at the bottom of the tree, provide the link #}
<a class="navbar-item" href="{{sublevels.url}}">
	<span class="icon is-large"><i class="mdi mdi-24px mdi-page-next-outline"></i></span>
	{{sublevels.title}}
</a>
{%else%}
<div class="navbar-item has-dropdown is-hoverable">
	
	<p class="navbar-link">
		<span class="icon is-large"><i class="mdi mdi-24px mdi-page-next"></i></span>
		{{level}}
	</p>
	<div class="navbar-dropdown is-right">
		{%for sublevel, subsublevels in sublevels.items%}
		{%menu_level sublevel subsublevels%}
	{%endfor%}
	</div>
</div>
{%endif%}
