{% extends "cm_main/base.html" %}
{% load i18n crispy_forms_tags cm_tags %}
{% block title %}{%if form.instance%}{% title _("Update Page") %}{%else%}{% title _("Create Page") %}{%endif%}{% endblock %}
{% block header %}{%include "cm_main/include-summernote.html" with maxsize=settings.PAGE_MAX_SIZE %}{%endblock%}
{% block content %}
<div class="container mt-5 px-2">
	<h1 class="title has-text-centered">{%if form.instance%}{% title _("Update Page") %}{%else%}{% title _("Create Page") %}{%endif%}</h1>
	<form method="post">
		{% csrf_token %}
		{{ form | crispy}}
		<div class="buttons is-centered">
			<button type="submit" class="button is-dark">{%if form.instance%}{%trans "Update Page"%}{%else%}{%trans "Create Page"%}{%endif%}</button>
		</div>
	</form>
</div>
{% endblock %}