{% load i18n cm_tags pages_tags %}
{%for level, sublevels in page_tree.items %}
	<li class="tree-item">
	{%if sublevels.title%}  {# sublevels is a page, we're at the bottom of the tree, provide the link #}
		{%icon "page"%}
		<span class="tag is-success is-light">
			<a href=
					{%if superuser%}
					"{%url "pages-edit:update" sublevels.id %}"
					{%else%}
					"{%url 'django.contrib.flatpages.views.flatpage' sublevels.url%}"
					{%endif%}>
				{{sublevels.title}}
			</a>
		</span>
	{%else%}  {# sublevels is a dict, we're at the top of a subtree, provide the sublevels #}
		<span class="tree-level">
			{%icon "page-level"%}
			<span class="tag is-primary is-light">{{level}}</span>
		</span>
		{%for sublevel, subsublevels in sublevels.items %}
		<ul>
			{%include "pages/page_subtree.html" with page_tree=sublevel|make_dict:subsublevels %}
		</ul>
		{%endfor%}
	{%endif%}
	</li>
{%endfor%}
