{% extends "cm_main/base.html" %}
{% load i18n cm_tags %}
{% block title %}{% title _("Pages") %} {% endblock %}
{% block content %}
<div class="container">
	<nav class="panel">
		<p class="panel-heading is-flex is-align-items-center is-justify-content-center">
			<span class="is-flex-grow-1 has-text-centered">{%title _('Pages') %}</span>
			<a class="button mx-auto" href="{%url 'pages-edit:create'%}" title="{% trans 'Create Page' %}">
				{%icon "new-page" %}
				<span class="is-hidden-mobile">{% trans 'Create Page' %}</span>
			</a>
		</p>
		{%for page in object_list%}
		<div class="panel-block">
			<a href="{%url 'pages-edit:update' page.id %}">
				{%icon "edit-page" "panel-icon"%}
				{{page.url}}
			</a>
			&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<strong>{{page.title}}</strong>
		</div>
		{%endfor%}
	</nav>
</div>
{%endblock content%}