{% extends "cm_main/base.html" %}
{% load i18n cm_tags %}
{% block title %}{% title _("Pages") %} {% endblock %}
{% block content %}
<div class="container">
	<nav class="panel">
		<p class="panel-heading">
			{%title _('Pages') %}
			<a class="button is-pulled-right" href="{%url 'pages-edit:create'%}" title="{% trans 'Create Page' %}">
				{%icon "new-page" %}
				<span class="is-hidden-mobile">{% trans 'Create Page' %}</span>
			</a>
		</p>
		{%for page in object_list%}
		<div class="panel-block">
			<a href="{%url 'pages-edit:update' page.url %}">
				{%icon "edit-page" "panel-icon"%}
				{{page.title}}
			</a>
		</div>
		{%endfor%}
	</nav>
</div>
{%endblock content%}