{% extends "cm_main/base.html" %}
{% load i18n cm_tags static %}

{% block title %}{% title _("Genealogy") %}{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">{% title _("Genealogy") %}</h1>
    <div class="tabs is-boxed">
    {%with active_tab=request.resolver_match.url_name %}
        <ul>
            <li class="{% if active_tab == 'dashboard' %}is-active{% endif %}">
                <a href="{% url 'genealogy:dashboard' %}">
                    {%icon "dashboard"%}
                    <span>{% trans "Dashboard" %}</span>
                </a>
            </li>
            <li class="{% if active_tab == 'person_list' %}is-active{% endif %}">
                <a href="{% url 'genealogy:person_list' %}">
                    {%icon "member" %}
                    <span>{% trans "People" %}</span>
                </a>
            </li>
            <li class="{% if active_tab == 'family_list' %}is-active{% endif %}">
                <a href="{% url 'genealogy:family_list' %}">
                    {%icon "members" %}
                    <span>{% trans "Families" %}</span>
                </a>
            </li>
            <li class="{% if active_tab == 'family_tree' %}is-active{% endif %}">
                <a href="{% url 'genealogy:family_tree' %}">
                    {%icon "family-tree" %}
                    <span>{% trans "Family Tree" %}</span>
                </a>
            </li>
            <li class="{% if active_tab == 'statistics' %}is-active{% endif %}">
                <a href="{% url 'genealogy:statistics' %}">
                    {%icon "chart-pie" %}
                    <span>{% trans "Statistics" %}</span>
                </a>
            </li>
        </ul>
    {%endwith%}
    </div>

    <div id="genealogy-content">
        {% block genealogy_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}
