{% extends "core/base.html" %}
{% load i18n crispy_forms_tags cm_tags %}
{% block title %}{% title _("Import Members") %}{% endblock %}
{% block content %}
<div class="container mt-5 px-2">
	<h1 class="title has-text-centered">{% title _("Export Members") %}</h1>
	<p class="content has-text-justified">
		{% trans "You can export members to a CSV file. The first line of the file contains the field names. " %}
		{% trans "All fields are present and empty if not present in the database. "%}
		{%if user.is_superuser%}
			<br>
			{% trans "Admins can re-import the files after modification with any CSV editor."%}
		{%endif%}
	</p>
	<form id="add-member-form" method="post" action="{%url 'members:export_members_to_csv' %}">
		{% csrf_token %}
		<p class="content is-medium">{% trans "Select members to export" %} :</p>
		<div class="level">

		    {% url 'members:count_selected' as count_selected_url %}

			{%url 'members:select_family' as search_url %}
			{%trans "Select a family..." as placeholder %}
			{%trans "Family filter" as label %}
			{% include 'core/common/htmx_search.html#dropdown_select' with id="family-select" %}

			{%url 'members:select_city' as search_url %}
			{%trans "Select a city..." as placeholder %}
			{%trans "City filter" as label %}
			{% include 'core/common/htmx_search.html#dropdown_select' with id="city-select" %}

			{%url 'members:select_name' as search_url %}
			{%trans "Select a name..." as placeholder %}
			{%trans "Last name filter" as label %}
			{% include 'core/common/htmx_search.html#dropdown_select' with id="name-select" %}

		</div>
		<p class="content is-medium has-text-centered">
            {% trans "Number of selected members" %}:
            <span id="selected-count" class="has-background-info has-text-link has-text-weight-bold">{{ initial_count }}</span>
		</p>
		<div class="buttons is-centered">
			<button class="button" type="submit">{%icon "import-members" %} <span>{%trans "Export"%}</span></button>
		</div>
	</form>
</div>

{% endblock %}
