{% extends "cm_main/base.html" %}
{% load i18n crispy_forms_tags cm_tags %}
{% block title %}{% title _("Import Members") %}{% endblock %}
{% block content %}
<div class="container mt-5 px-2">
	<h1 class="title has-text-centered">{% title _("Import Members") %}</h1>
	<div class="block" id="to-be-swapped">
		<p class="content is-medium">
			{% translate "You can import members from a CSV file. The first line of the file must contain the field names as described below."%}
		</p>
		<div class="content">
			<ul>
				<li>
					{% translate "The file must contain at least these columns:" %} {{mandatory_fields|join:", "}}
				</li>
				<li>
					{% translate "You can also add these optional columns:" %} {{optional_fields|join:", "}}
				</li>
				<li>
					{%translate "Avatars must be image file names." %}
					{% blocktranslate %}They must be uploaded manually first in the avatars folders of the {{media_root}} folder.{% endblocktranslate %}
				</li>
				<li>
					{% translate "The dates of birth and death must be entered in the format YYYY-MM-DD." %}
				</li>
				<li>
					{% translate "Families must be entered by name. They will be created on the fly if they don't already exist." %}
				</li>
			</ul>
		</div>
		<form hx-post="{{request.get_full_path}}"
					hx-encoding="multipart/form-data"
					hx-target="#to-be-swapped"
					hx-swap="innerHTML"
					hx-indicator=".upload-button">
			{% csrf_token %}
			{{ form | crispy}}
			<p class="buttons is-centered">
				<button type="submit" class="button is-primary upload-button" name="create">
					{%icon "upload"%}
					<span>{%translate "Import" %}</span>
				</button>
			</p>
		</form>
	</div>
</div>
{% endblock %}