{% extends "members/base_members.html" %}
{% load i18n cm_tags %}
{% block title %}{% title _("Member Detail") %} {% endblock %}
{% block content %}
{%with member=object %}
<div class="container">
	<div class="card">
		<div class="card-header">
			<div class="media">
				<div class="media-left">
					<figure class="image avatar mx-2 my-2">
						<img class="is-rounded" src="{{ member.avatar_url }}">
					</figure>
				</div>
				<div class="media-content">
					<p class="content">
						<strong>{{ member.first_name }} {{ member.last_name }}</strong>
						<small>&lt;{{ member.email }}&gt;</small>
						{%include "cm_main/followers/followers-count-tag.html" with followed_object=object %}

					</p>
					<p class="content small">{{ member.username }}
						<br>
					({%if member.is_active %}
						{% translate "Active member" %}
					{% else %}
						{% translate "Managed member" %}
					{% endif %})
					</p>
				</div>
			</div>
		</div>
		<div class="card-content">
			<table class="table mx-auto">
				<tr>
					<td class="content has-text-right">{% translate "Address" %}</td>
					<td class="content">{%if member.address%}{{ member.address }}{%endif%}</td>
				</tr>
				<tr>
					<td class="content has-text-right">{% translate "Email" %}</td>
					<td class="content">{{ member.email }}</td>
				</tr>
				<tr>
					<td class="content has-text-right">{% translate "Phone" %}</td>
					<td class="content">{{ member.phone }}</td>
				</tr>
				<tr>
					<td class="content has-text-right">{% translate "Birthdate" %}</td>
					<td class="content">{{ member.birthdate }}</td>
				</tr>
				<tr>
					<td class="content has-text-right">{% translate "Website" %}</td>
					<td class="content">{{ member.website }}</td>
				</tr>
				<tr>
					<td class="content has-text-right">{% translate "Family" %}</td>
					<td class="content">{%if member.family%}{{ member.family }}{%endif%}</td>
				</tr>
				<tr>
					<td class="content has-text-right">{% translate "Who I am" %}</td>
					<td class="content">{%if member.description%}{{ member.description }}{%endif%}</td>
				</tr>
				<tr>
					<td class="content has-text-right">{% translate "Hobbies" %}</td>
					<td class="tags">{%for hobby in hobbies_list%}<span class="tag">{{hobby}}</span>{%endfor%}</td>
				</tr>
				
			</table>
		</div>
		<div class="card-footer buttons is-centered">
			<a class="button" 
				{% if can_edit %} href="{% url 'members:member_edit' member.id %}"
				{% else %} disabled
				{% endif %}
			>
			{%icon "edit" %}
			<span>{% translate "Edit" %}</span>
			</a>
			{% if not can_edit and managing_member_name %}
			<p class="content px-4">
				{% blocktranslate with name=managing_member_name %}(Only {{name}} can manage this member){% endblocktranslate %}
			</p>
			{%else%}
				{%url 'members:toggle_follow' member.id as toggle_follow_url %}
				{%include "cm_main/followers/toggle-follow-button.html" with followed_object=object %}
			{% endif %}
		</div>
	</div>
</div>
{%endwith%}
{% endblock %}
