{% extends "members/base_members.html" %}
{% load i18n cm_tags %}
{% block title %}{% title _("Members Directory") %}{% endblock %}
{% block content %}
<div class="container">
	<div class="level">
		<div class="level-left">
			<h1 class="title has-text-centered printable">{% title _("Members Directory") %}</h1>
		</div>
		<div class="level-right buttons">
			<button class="button" onclick="printSection($('.printable'))">
				{%icon "print" %}
				<span>{% translate "Print"%}</span>
			</button>
			{% translate "Print as PDF" as trpdf %}
			<a class="button" href="{% url 'members:print_directory' %}">
				{%icon "pdf" %}
				<span>{% translate "Print as PDF" %}</span>
			</a>
		</div>
	</div>
	{%paginate page %}
  {% if page.object_list.count > 0 %}
	<hr/>

	<section class="section printable">
		<table class="table">
			<tr>
				<th class="has-background-light-link has-text-primary is-size-4 has-text-centered">{% translate "Name" %}</th>
				<th class="has-background-light-link has-text-primary is-size-4 has-text-centered">{% translate "Birthdate" %}</th>
				<th class="has-background-light-link has-text-primary is-size-4 has-text-centered">{% translate "Phone" %}</th>
				<th class="has-background-light-link has-text-primary is-size-4 has-text-centered">{% translate "Email" %}</th>
				<th class="has-background-light-link has-text-primary is-size-4 has-text-centered">{% translate "Address" %}</th>
			</tr>
			{% for member in page.object_list %}
			<tr>
				<td class="has-text-centered">
					<a class="button is-link is-light" href="{% url 'members:detail' member.id %}">
						<strong>{{ member.get_full_name }}</strong>
					</a>
				</td>
				<td class="has-text-centered">{{ member.birthdate | date:"SHORT_DATE_FORMAT" }}</td>
				<td class="has-text-centered">{{ member.phone }}</td>
				<td class="has-text-centered">{{ member.email }}</td>
				<td class="has-text-centered">{%if member.address %}{{ member.address }}{% endif %}</td>
			</tr>
			{% endfor %}
		</table>
	</section>
	{% else %}
	<div>
		<p>{% translate "No members found" %}.</p>
	</div>
	{% endif %}
</div>
{% endblock %}