{% extends "members/base_members.html" %}
{% load i18n cm_tags %}
{% block title %}{% title _("Members List") %}{% endblock %}
{% block content %}
<div class="container mb-5"> 
  <div class="level">
    <h1 class="level-left title mx-5 has-text-centered">{% title _("Members List") %}</h1>
    <div class="level-item">
      <div class="buttons has-addons mt-5">
        <a class="button" href="{% url 'members:birthdays' %}"
          title='{% translate "Birthdays" %}'>
          {%icon "birthday" %}
        </a>
        <a class="button" href="{% url 'members:directory' %}"
          title="{% translate 'Show directory' %}">
          {%icon "directory" %}
        </a>
        {%if user.is_superuser or settings.ALLOW_MEMBERS_TO_CREATE_MEMBERS%}
        <a class="button" href="{% url 'members:create' %}"
          title="{% translate 'Create Member' %}">
          {%icon "new-member" %}
        </a>
        {%endif%}
        {%if user.is_superuser or settings.ALLOW_MEMBERS_TO_INVITE_MEMBERS%}
        <a class="button" href="{% url 'members:invite' %}"
          title="{% translate 'Invite Member' %}">
          {%icon "invite" %}
        </a>
        {%endif%}
      </div>
    </div>
    <div class="level-item ml-3">
      <form method="get">
        <label class="content is-size-6">{%trans "Filter Members"%}:</label>
        <div class="field has-addons">
          <div class="control">
            <input class="input" type="text" size="12" name="first_name_filter" placeholder="{% trans 'first name' %}"
            {%if request.GET.first_name_filter%}value="{{request.GET.first_name_filter}}"{%endif%}>
          </div>
          <div class="control">
            <input class="input" type="text" size="12" name="last_name_filter" placeholder="{% trans 'last name' %}"
            {%if request.GET.last_name_filter%}value="{{request.GET.last_name_filter}}"{%endif%}>
          </div>
          <div class="control">
            <button class="button is-link" type="submit" title="{% translate 'Filter Members' %}">
              {%icon "search" %}
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="level-item">
      <form method="get">
        <label class="content is-size-6">{%trans "Sort by"%}:</label>
        <div class="field has-addons">
          <div class="control mt-2">
            <div class="select is-small">
              {%with member_sort=request.GET.member_sort|default:"last_name" %}
              <select name="member_sort" onchange="this.form.submit()">
                <option value="first_name" {%if member_sort == 'first_name' %}selected{%endif%}>{% translate "First name" %}</option>
                <option value="last_name" {%if member_sort == 'last_name' %}selected{%endif%}>{% translate "Last name" %}</option>
                <option value="birthdate" {%if member_sort == 'birthdate' %}selected{%endif%}>{% translate "Birthdate" %}</option>
                <option value="is_active" {%if member_sort == 'is_active' %}selected{%endif%}>{% translate "Active/Managed" %}</option>
              </select>
              {%endwith%}
            </div>
          </div>
          {%include "cm_main/common/toggle-slider.html" with choice_name="member_order" icon1="arrow-down" icon2="arrow-up" selected=request.GET.member_order on_change="this.form.submit()" %}
        </div>
      </form>
    </div>
  </div>
  {%paginate page %}
  {% if page.object_list.count > 0 %}
  <div class="grid mx-3 is-col-min-8">
    {% for member in page.object_list %}
      <div class="cell has-text-centered my-auto">
        <a class="button {% cycle 'is-dark' 'is-primary' 'is-link' %} button-wrap"
           href="{% url 'members:detail' member.id %}">
          {%if member.avatar%}
          <figure class="image mini-avatar mr-2">
            <img class="is-rounded" src="{{member.avatar_mini_url}}">
          </figure>
          {%endif%}
          <strong>{{ member.get_full_name }}</strong>
        </a>
      </div>
    {% endfor %}
  </div>
  {% else %}
  <div>
    <p>{% translate "No members found" %}.</p>
  </div>
  {% endif %}
</div>
{% endblock %}