{% extends "members/base_members.html" %}
{% load i18n crispy_forms_tags cm_tags static %}
{% block title %}{% title title %} {% endblock %}
{% block header %}
	<script src="{% static 'cm_main/js/cm_modal.js' %}"></script>
	{%include "cm_main/common/include-bulma-calendar.html" %}
	{%include "cm_main/common/include-summernote.html" with maxsize=settings.MESSAGE_MAX_SIZE %}
{%endblock%}
{% block content %}
{%with member=form.instance%}
<div class="container px-2">
	<h1 class="title has-text-centered is-2">{{title}}</h1>
	{% if member and member.id %} {# existing member #}
	<div class="level px-2 my-2">
		<div class="level-left">
    	<figure class="image thumbnail">
        <img class="is-rounded" src="{{ member.avatar_url }}">
    	</figure>
		</div>
    <div class="level-item">
      <p class="content"><strong>{{ member.get_full_name }}</strong>
				({{member.username}})
			{%if member.email %}<small>&lt;{{ member.email }}&gt;</small>{% endif %}
			<br>
			{%if member.id != request.user.id %}
				{%if member.is_active %}
					{% translate "Active member" %}
				{% else %}
					{% translate "Member managed by" %} {{member.member_manager.full_name}}
				{% endif %}
			{% endif %}
			</p>
    </div>
		<div class="level-right is-flex-shrink-1">
			<div class="buttons is-centered">
				{% if member.id == request.user.id %}{# profile update #}
				<a class="button" href="{% url 'change_password' %}">
					{%icon "change-password" %}
					<span>{% translate "Change Password" %}</span>
				</a>
				{%elif member.member_manager and member.member_manager.id == request.user.id %} {# update managed member #}
				<a class="button" href="{% url 'members:activate' pk %}">
					{%icon "activate-member" %}
					<span>{% translate "Activate Account" %}</span>
				</a>
				{% endif %}
				{% url 'members:delete' member.id as delete_url %}
				{%include "cm_main/common/confirm-delete-modal.html#delete_button" with button_text=_("Delete") button_class='is-warning' delete_url=delete_url %}
			</div>
		</div>
  </div>
	{% endif %}
	<div class="container px-2">
		<form enctype="multipart/form-data" method="post">
			{% csrf_token %}
			{{ form | crispy }}
			<div class="buttons is-centered">
				<button type="submit" class="button is-dark">
				{%if form.instance.pk %}
					{%icon "update"%}
					<span>{%translate "Update" %}</span>
				{%else%}
					{%icon "create"%}
					<span>{%translate "Create" %}</span>
				{%endif%}
				</button>
			</div>
		</form>
	</div>
	<div class="container mt-4 has-text-centered">
			{% translate 'Lost your verification email?' %} 
			<a href="{% url 'request-new-link-from-email' %}" class="is-small">
					{% translate "Request a new link" %}
			</a>
	</div>
</div>

{%endwith%}
{% endblock content %}
