{% load i18n cm_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{title}}</title>
		{% inline_css "cm_main/css/email_msg_css.css" %}
	</head>
	<body>
		<div class="container">
			<div class="green">
				<h1 class="center" style="padding:2px">
					{%blocktranslate asvar trans_title trimmed %}
					Your {{followed_type}} '{{followed_object_name}}' has a new follower!
					{%endblocktranslate%}
					{% title trans_title%}
				</h1>
			</div>
			<div class="center">
				<p class="mt-2">
					{%blocktranslate trimmed%}
					{{follower_name}} is now following your {{followed_type}} <a href="{{followed_url}}">"{{followed_object_name}}"</a> on {{site_name}}
					{%endblocktranslate%}
				</p>
			</div>
			<p class="small mt-3 center">{% trans "Do not reply to this mail, it is machine generated." %}</p>
		</div>
	</body>
</html>