{%load i18n cm_tags%}
{%if request.user in followed_object.followers.all %}
<a class="button {{extra_class}}" href="{{toggle_follow_url}}" 
	{%trans "Stop Following" as unfollow%}
	aria-label="{{unfollow}}" title="{{unfollow}}">
	{%icon "unfollow" %}
	<span {%if is_hidden_mobile%}class="is-hidden-mobile"{%endif%}>{{unfollow}}</span>
</a>
{%else%}
<a class="button {{extra_class}}" href="{{toggle_follow_url}}" 
	{%trans 'Follow' as follow%}
	aria-label="{{follow}}" title="{{follow}}">
	{%icon "follow" %}
	<span {%if is_hidden_mobile%}class="is-hidden-mobile"{%endif%}>{{follow}}</span>
</a>
{%endif%}
