body {
	font-size: 20px;
}

/* RELATED WIDGET WRAPPER */
.related-widget-wrapper {
  display: flex;
  gap: 0 10px;
  flex-grow: 1;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.captchaanswerinput {
  margin-left: 5px;
  margin-bottom: 15px;
}

/* override img size to get is-NxN working with max size=N is both directions */
.image img {
  width: auto;
  max-height: 100%;
}

/* override icon size */
/* .button .icon.is-large {
  font-size: 1.5rem !important;
} 
must use  mdi-24px instead
*/