:root {
	--bulma-body-font-size: 20px;
	--bulma-link-h: 277deg !important;
	--bulma-link-s: 100% !important;
  --bulma-link-l: 57% !important;
}

/* add a 3rd level to bulma's menus */
.navbar-dropdown .navbar-item.has-dropdown {
	padding-right: var(--bulma-size-1);
}
.navbar-dropdown .navbar-dropdown {
	left: 100%;
	top: -0.5rem; /* =-var(--bulma-dropdown-content-padding-top);*/
}
.navbar-item.has-dropdown:not(.is-hoverable) .navbar-dropdown {
	display: none;
}
.navbar-item.has-dropdown.is-active > .navbar-dropdown {
	display: block;
}

.navbar {
	--bulma-navbar-divider-background-l:92% !important;
}

@media screen and (min-width: 1024px) {
	.navbar-dropdown .navbar-link {
		padding-inline-end: 3rem;
		padding: .375rem 1rem 0.375rem 0rem;
		white-space: nowrap;
		height: 2rem;
	}
}

	/* RELATED WIDGET WRAPPER */
.related-widget-wrapper {
  display: flex;
  gap: 0 10px;
  flex-grow: 1;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.captchaanswerinput {
  margin-left: 5px;
  margin-bottom: 15px;
}

/* override img size to get is-NxN working with max size=N is both directions */
.image img {
  width: auto;
  max-height: 100%;
}

/* class for photo in galleries */
.photo img {
	display: block;
  width: 100%;
	height: auto;
  max-width: fit-content;
  max-height: fit-content;
	margin-right: auto;
	margin-left: auto;
	border-radius: var(--bulma-radius-medium);
}

/* CSS for summernote text 
rich-text is for text displayed in pages, note-editable is for the text inside the editor
*/
.rich-text h1, .note-editable h1 {
	font-weight: bold;
	font-size: 1.5rem;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.rich-text h2, .note-editable h2 {
	font-weight: bold;
	font-size: 1.3rem;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.rich-text h3, .note-editable h3 {
	font-weight: bold;
	font-size: 1.15rem;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.rich-text h4, .note-editable h4 {
	font-weight: bold;
	font-size: 1rem;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.rich-text blockquote, .note-editable blockquote {
	font-weight: 100;
	font-size: 1rem;
	font-family:'Courier New', Courier, monospace
}
.rich-text code, .note-editable code {
	font-weight: 100;
	font-size: 1rem;
	font-family:'Courier New', Courier, monospace
}
.rich-text ul li, .note-editable ul li, ul.bullet li {
  list-style: disc;
  margin-left: 2rem;
}
.rich-text ol li, .note-editable ol li, ol.ordered li {
  list-style: decimal;
  margin-left: 2rem;
}
.note-frame {
	--bulma-input-h: var(--bulma-scheme-h);
  --bulma-input-s: var(--bulma-scheme-s);
  --bulma-input-border-style: solid;
  --bulma-input-border-width: 1px;
  --bulma-input-border-l: var(--bulma-border-l);
  box-shadow: inset 0 .0625em .125em hsla(var(--bulma-scheme-h),var(--bulma-scheme-s),var(--bulma-scheme-invert-l),.05);
  max-width: 100%;
  width: 100%;
  color: hsl(var(--bulma-input-h),var(--bulma-input-s),var(--bulma-input-color-l));
  font-family: var(--bulma-body-family);
	font-size: var(--bulma-control-size);
	border-color: hsl(var(--bulma-input-h),var(--bulma-input-s),calc(var(--bulma-input-border-l) + var(--bulma-input-border-l-delta))) !important;
  border-radius: var(--bulma-input-radius);
}

@media screen {
	.mini-avatar {
		width: 64px;
		height: 64px;
	}

	@media (max-width: 768px) {
		.avatar {
			width: 128px;
			height: 128px;
		}

		.home-logo img {
			height: 150px;
		}
	}

	@media (min-width: 769px) {
		.avatar {
			width: 300px;
			height: 300px;
		}

		.home-logo img {
			height: 250px;
		}
	}
	@media (min-width: 1025px) {
		.navbar-dropdown {
			font-size: var(--bulma-body-font-size)
		}
	}
}

.gallery-cover, .thumbnail {
	height: 128px;
	width: 128px;
}

.sub-gallery-cover {
	height: 64px;
	width: 64px;
}

/* fix a bulma bug */
@media screen {
	@media (max-width: 768px) {
		.button .icon {
			margin-inline-end: calc(var(--bulma-button-padding-horizontal)*-.5) !important;
			margin-inline-start: calc(var(--bulma-button-padding-horizontal)*-.5) !important;
		}
		.button:has(> :last-child:not(.is-hidden-mobile)) .icon:first-child:not(:last-child) {
			margin-inline-end: calc(var(--bulma-button-padding-horizontal).25) !important;
			margin-inline-start: calc(var(--bulma-button-padding-horizontal)-.5) !important;
		} 
	}
}

/* tree management */
.tree-item {
	padding-left: calc(var(--bulma-size-large)*2.2);
}
.tree-root > .tree-item {
	padding-left: 0;
}
.tree-root > .tree-item > .tree-level {
	padding-left: calc(var(--bulma-size-large)*1.2);
}
.tree-item::before {
	content: "└─ ";
	color: hsl(var(--bulma-link-h), var(--bulma-link-s), var(--bulma-link-l));
}
.tree-root > .tree-item::before {
	content: "";
}

.panel-block > .notification:not(:last-child) {
	margin-bottom: 0;
}
/* a notification which has no notification before it or which  */
/* is the only one in the panel-block has a minimu length */
.panel-block .notification:not(.notification + .notification) {
	min-width: 4.61em;
	text-align: center;
	flex-basis: auto;
  flex-shrink: 0;
}
.panel-tabs {
	flex-wrap: wrap;
}
.select2-selector {
	width: 300px;
}
.clear-select2 {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: calc(var(--bulma-button-padding-horizontal) - var(--bulma-button-border-width) - 2px);
}

.button-wrap {
	white-space: normal !important;
}

/* toggle-slider button */
.toggle-container {
	background-color: var(--bulma-light);
	border-radius: var(--bulma-radius-large);
	padding: 5px;
	display: inline-flex;
	position: relative;
	box-shadow: var(--bulma-shadow);
	--toggle-translate: translateX(0);
}

.toggle-container label {
	z-index: 1;
	position: relative;
	padding: 4px 8px;
	cursor: pointer;
}

.icon-radio-group input[type="radio"] {
	display: none;
}

.icon-radio-group .icon i {
	font-size: 1rem;
	color: var(--bulma-primary);
	transition: color 0.3s ease;
}

.toggle-container::before {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: calc(50% - 5px);
	height: calc(100% - 10px); 
	transform: var(--toggle-translate, translateX(0));
	background-color: var(--bulma-link);
	border-radius: var(--bulma-radius);
	transition: var(--toggle-transition, transform 0.3s ease);
}

.icon-radio-group input[type="radio"]:checked + .icon i {
	color: var(--bulma-light);
}
