{% load i18n cm_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{%with sitename=real_site_name|default:site_name %}
  <title>{% blocktranslate %}Password reset request for {{sitename}}{% endblocktranslate %}</title>
  {% inline_css "cm_main/css/email_msg_css.css" %}
</head>
<body>

  <div class="container">

    <div class="green">
      <h1 class="center" style="padding:2px">
        {% blocktranslate %}Password reset request for {{sitename}}{% endblocktranslate %}
      </h1>
    </div>
    <p>{% blocktranslate with userfullname=user.full_name trimmed %}Hi {{userfullname}}, {% endblocktranslate %}</p>
    <p>{% blocktranslate trimmed %}
       You received this mail because you requested to reset your password to your "{{sitename}}"
       site at {{domain}}.
    {% endblocktranslate %}</p>
    <hr>
    <p>{% trans "Please go to the following page and choose a new password" %} : </p>
    {% url "password_reset_confirm" uidb64=uid token=token as reset_url %}
    {%if absolute_url%}
        {% with link=absolute_url|add:reset_url %}
        <p class="center"><a href="{{ link }}">{{ link }}</a></p>
        {% endwith %}
    {%else%}
        {% with link=protocol|add:'://'|add:domain|add:reset_url %}
        <p class="center"><a href="{{ link }}">{{ link }}</a></p>
        {% endwith %}
    {% endif %}
    <p>{% trans "Your username, in case you’ve forgotten" %} : {{ user.username }}</p>
    <p>{% blocktranslate %}Thanks for using {{sitename}} !{% endblocktranslate %}</p>
    <p>{% blocktranslate %}The {{sitename}} administrator{% endblocktranslate %}</p>
    <hr>
    <div class="center">
      <p class="mt-2">
        <strong>{% blocktranslate trimmed %}
          If you didn't request a password reset, please contact the administrator
          of "{{sitename}}" at {{domain}} and try to reset your password in case someone 
          tried to hijack your account.
        {% endblocktranslate %}</strong>
      </p>
    </div>
  </div>
{%endwith%}
</body>
</html>