{% load i18n cm_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% blocktranslate %}Invitation for {{invited}} to register to {{site_name}}{% endblocktranslate %}</title>
    {% inline_css "cm_main/css/email_msg_css.css" %}
</head>
<body>

    <div class="container">

        <div class="green">
            <h1 class="center" style="padding:2px">
              {% blocktranslate %}Registration to the "{{site_name}}" site{% endblocktranslate %}
            </h1>
        </div>

        <h2 class="center">
        {% blocktranslate %}Hello {{invited}}, this is {{inviter}}!{% endblocktranslate %}<br/>
        {%if admin == inviter%}
            {% blocktranslate %}I invite you to register on the {{site_name}} website I created for managing our big family!{% endblocktranslate %}
        {%else%}
            {% blocktranslate %}I invite you to register on the {{site_name}} website created by {{admin}} for managing our big family!{% endblocktranslate %}
        {%endif%}
        </h2>
        <hr>
        <div class="center">
            <p class="mt-3 center">
            {% translate "On this site, you will find a directory of the family members and a lot of features on birthdays, photos, forums, ads,..." %}
            </p>
            <p class="mt-2">
            {% translate "If you know the administrator and knows he created this site, please click on the link below to go to the site and create your account." %}
            </p>
            <p class="small mt-3 center">
            {% blocktranslate %}You can also reply to this email to contact <a href="mailto:{{inviter_email}}">{{inviter}}</a> and check with him if he really invited you...{% endblocktranslate %}
            </p>
        </div>
        <div class="center mt-3">
            <hr>
            <a href="{{link}}" class="button green" >{% translate "Sign up" %}</a>
        </div>
    </div>
</body>
</html>