{% extends "cm_main/base.html" %}
{% load i18n crispy_forms_tags cm_tags %}
{% block header %}
	{%include "cm_main/common/include-summernote.html" with maxsize=settings.TROVE_DESCRIPTION_MAX_SIZE %}
{%endblock%}
{% block title %}
  {% if form.instance.pk %}
    {% title _("Modify treasure") %}
  {%else%}
		{% title _("Add a treasure") %}
	{%endif%}
{% endblock %}

{% block content %}
<div class="container">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title has-text-centered is-centered">
      {% if form.instance.pk %}
        {% title _("Modify treasure") %}
      {%else%}
        {% title _("Add a treasure") %}
      {%endif%}
      </p>
    </header>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <section class="card-content">
          {{ form | crispy}}
      </section>
      <footer class="card-footer">
        <div class="buttons mx-auto">
          <button type="submit" class="button is-dark">
            {%icon "new" %} <span>{%translate "Submit" %}</span>
          </button>
          <a type="reset" class="button" aria-label="close" 
            href="{%url 'troves:list'%}">
            {%icon "cancel" %} <span>{%translate "Cancel" %}</span>
          </a>
        </div>
      </footer>
    </form>
  </div>
</div>
{% endblock %}
