{% load i18n cm_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% translate 'New comment on followed post' as trans_title %}
		<title>{% title trans_title %}</title>
		{% inline_css "cm_main/css/email_msg_css.css" %}
	</head>
	<body>
		<div class="container">
			<div class="green">
				<h1 class="center" style="padding:2px">
					{% title trans_title%}
				</h1>
			</div>
			<p class="mt-2">
				<strong>
				{%blocktranslate with post_title=post.title author=comment.author.get_full_name trimmed%}
				{{author}} posted the following comment on '{{post_title}}':
				{%endblocktranslate%}
				</strong>
				<br>
				<i>{%autoescape off%}{{comment.content|linebreaksbr}}{%endautoescape%}</i>
			</p>
			<p class="small mt-3 center">{% trans "Do not reply to this mail, it is machine generated." %}</p>
		</div>
	</body>
</html>